[2016-10-03 18:10] martellaj opened #2 "404"
Hitting kentcdodds.com gives me a 404.

[2016-10-04 19:54] kentcdodds commented on #2
Alrighty, I think I've got it working. I'm now just using my domain registrar's DNS with netlify's hosting and free SSL for custom domains. Works pretty well.

Wish I didn't have to use Node 4 on netlify :-( also I need to figure out how to ignore certain files/directories with netlify... But it works great :) Thanks!

[2016-10-04 19:54] #2 closed

[2017-11-02 10:36] gabrielcsapo opened #4 "thoughts on blogging frameworks?"
I see you are "rolling your own" blogging framework with simple react views and routes. Having you looked at gatsby, Metalsmith or Hexo? The setup is pretty extensive and not as expressive as what you are able to do with rolling your own, do you have any thoughts on how to fix this? I was talking to @vonbearshark about how if Jekyll was simply translated one to one to JS it would fit 99.9% of use

[2017-11-02 16:57] kentcdodds commented on #4
Mostly because I don't have enough time to work on my website and I'm not interested in improving it 🤷‍♂️ This is evidenced by the fact that I'm using medium for my blog: https://blog.kentcdodds.com

Also, I based this on what I built for https://javascriptair.com so it was pretty easy and fast.

[2017-11-02 16:57] #4 closed

[2017-11-02 20:10] gabrielcsapo commented on #4
@kentcdodds makes sense, I was just wondering if you had a pattern that you would be willing to discuss for people who are wanting to roll their own and optimizing for real world scale like you understand.

[2017-11-02 20:39] kentcdodds commented on #4
I don't really have a pattern. I wouldn't do this again to be honest. I think I might use something like this next time: https://github.com/nozzle/react-static Or just use next.js with the static export functionality. I don't have time to work on my own custom solution :wink:

[2017-11-03 04:39] gabrielcsapo commented on #4
I was just interested since you were recently committing blogs to your website https://github.com/kentcdodds/kentcdodds.com/commit/63c3f6a5eae725743d364220edbcab30126003ea, apologies 🤷‍♂️.

[2017-11-03 05:17] kentcdodds commented on #4
I only do that because it's an easy place to write drafts for my newsletter: http://kcd.im/news 👍

[2019-02-09 17:05] kentcdodds opened #11 "add contributors"
Using this to add a few people who have contributed to this site.

[2019-02-09 17:07] kentcdodds commented on #11
@all-contributors please add @kentcdodds for code and infrastructure

[2019-02-09 17:09] kentcdodds commented on #11
@all-contributors please add @vojtaholik for code and design

[2019-02-09 17:10] kentcdodds commented on #11
@all-contributors please add @joelhooks for code

[2019-02-09 17:11] kentcdodds commented on #11
@all-contributors please add @tayiorbeii for code

[2019-02-09 17:12] kentcdodds commented on #11
@all-contributors please add @jlengstorf for ideas

[2019-02-09 17:12] kentcdodds commented on #11
@all-contributors please add @rwieruch for code

[2019-02-09 17:13] #11 closed

[2019-02-11 16:31] z0al opened #18 "Improve RSS feeds"
Hey Kent!

Congrats for the new website look, it looks cool :ok_hand:

## Problem (s)

1. The current RSS feeds at [rss.xml](https://kentcdodds.com/rss.xml), doesn't include the actual blog post content (see below).
2. There are double `/` in all `guid`s right after the base domain which (while works fine) could cause a tiny problem for RSS readers when you later (eventually ) fix it. So, I sugges

[2019-02-11 16:34] kentcdodds commented on #18
Thanks @z0al!

Would you be at all interested in contributing these improvements?

[2019-02-11 16:40] z0al commented on #18
I'd love to, but no idea how Gatsby works.

May check it on the weekend if no one else did it already.

Regarding No. 3, I think that should be done on the server. Where do you host the website?

[2019-02-11 16:52] kentcdodds commented on #18
I'm hosting on netlify. I'm sure there's a way to make that work. I'll have to look into it.

The feed is created here: https://github.com/kentcdodds/kentcdodds.com/blob/f043adfebfe3553390aa576998d3b30fa7afbb0b/gatsby-config.js#L119-L160

I'll bet we could just borrow a bunch from Dan's blog: https://github.com/gaearon/overreacted.io/blob/9d6fc2992a5070e6eb62f6ba5821266d31c7ec0b/gatsby-config.js#L

[2019-02-11 17:01] z0al commented on #18
I've done it a few days ago, but in my case, I've enabled it on all routes, all we need to do is adding a `_headers` file on the website root (so, it should goes to `static/` folder). Here is mine:

[code]

Ref doc: https://www.netlify.com/docs/headers-and-basic-auth/#multi-key-header-rules

Thanks.

[2019-02-11 17:36] z0al commented on #18
Ok, that turned out to be really easy. Will open a PR in a few minutes. Thanks for your help!

[2019-02-11 21:14] #18 closed

[2019-02-12 03:58] gokulkrishh opened #28 "Reduce the size of kent's image ?"
By the way site looks grt 👍

But one thing I noticed while loading was @kentcdodds your avatar image in home page takes time to load although you have `the service worker` to cache the subsequent request. But initial load is could be little faster if we optimize the kent.png image in hero folder.

Attaching an optimized version of it.

Its `127KB`. Original was around `500KB`

![kent-optimizied](h

[2019-02-12 04:09] #28 closed

[2019-02-13 03:20] juandc opened #31 "Images URL error: can not see images in publications"
---
:memo: Post: '[When to use Control Props or State Reducers](https://kentcdodds.com/blog/control-props-vs-state-reducers)'
:file_folder: File: [`blog/control-props-vs-state-reducers/index.md`](https://github.com/kentcdodds/kentcdodds.com/blame/master/content/blog/control-props-vs-state-reducers/index.md)
:bug: Line: [#96](https://github.com/kentcdodds/kentcdodds.com/blame/master/content/blog/co

[2019-02-13 03:23] juandc commented on #31
The GIF is okay directly in the [Github file](https://github.com/kentcdodds/kentcdodds.com/blob/master/content/blog/control-props-vs-state-reducers/index.md):

![image](https://user-images.githubusercontent.com/15987317/52684586-bee46000-2f14-11e9-9aa1-dad7c21a7102.png)

[2019-02-13 03:25] kentcdodds commented on #31
Yeah, I noticed too 😬

Want to contribute a fix?

[2019-02-13 04:17] juandc commented on #31
I'm not sure, sir. :disappointed_relieved:.

First time with Gatsby!
Looking at the code I think I can fix it, probably playing with the [gatsby-remark-relative-images](https://www.gatsbyjs.org/packages/gatsby-remark-relative-images/) plugin, but I don't know how much time would I need. Sorry about that :pray:.
The next time I'm going for it!

[2019-02-13 04:21] kentcdodds commented on #31
It's fine. Just wanted to see if you were interested in making the change yourself. I'll get around to it eventually. Thanks for reporting it!

[2019-02-24 22:45] alaycock opened #42 "Quote blocks in imported medium posts have extra > characters"
See the blog post: React/JSX as a server-side templating language
[Markdown file on Github](https://github.com/kentcdodds/kentcdodds.com/blob/medium-import/content/blog/react-jsx-as-a-server-side-templating-language/index.md)
[Blog post on Netlify](https://5c71a54243826500078c1d34--kentcdodds.netlify.com/blog/react-jsx-as-a-server-side-templating-language)
[Blog post on Medium](https://blog.kentcd

[2019-02-25 01:08] kentcdodds commented on #31
This is fixed!

[2019-02-25 01:08] #31 closed

[2019-02-25 14:54] alaycock commented on #42
Closing this in favour of the comment I left here: https://github.com/kentcdodds/kentcdodds.com/pull/37/files#r259859924

[2019-02-25 14:54] #42 closed

[2019-02-25 22:27] mohammedzamakhan opened #44 "Change the order of the links"
![merge_from_ofoct](https://user-images.githubusercontent.com/2327532/53373095-31443f80-391a-11e9-80e7-5549fc988577.jpg)

[2019-02-25 23:55] kentcdodds commented on #44
Fixed, thanks!

[2019-02-25 23:55] #44 closed

[2019-02-25 23:59] kentcdodds commented on #44
@all-contributors please add @mohammedzamakhan for bug

[2019-02-25 23:59] kentcdodds commented on #31
@all-contributors please add @juandc for bug

[2019-02-26 00:20] kentcdodds opened #48 "Search"
Joel Hooks did this:

https://github.com/joelhooks/joelhooks-com/commit/f2dd4e378c95a38ec9cf1ad9580b68c3c697adce

https://github.com/joelhooks/joelhooks-com/commit/da4eafaab77439fe51d54a47738d7d88af4767d1

https://github.com/joelhooks/joelhooks-com/commit/ded6a25162d1097f6bde02dc44871a6a630da51b

There's also: https://twitter.com/jlengstorf/status/1100158852073279488

Gotta figure out what works b

[2019-02-26 00:20] kentcdodds opened #49 "Category Pages"
So people can find the kind of stuff they want to find better

[2019-02-26 00:20] kentcdodds opened #50 "Keyword Pages"
So people can find what they want to find better.

[2019-02-26 00:22] kentcdodds opened #51 "Fix rss feed"
Here's the code that used to be there: https://github.com/kentcdodds/kentcdodds.com/commit/de5dd06913d070732186a048e1b466ff730366c2

Waiting on (or need to contribute a fix to) this: https://github.com/ChristopherBiscardi/gatsby-mdx/issues/295

[2019-02-26 03:52] html5cat opened #52 "how-to-distribute-your-angularjs-module"
404

[2019-02-26 03:52] html5cat opened #53 "accessibility-mode"
404

[2019-02-26 03:53] html5cat opened #54 "es6-getter-setter"
404

[2019-02-26 03:53] html5cat opened #55 "angularjs-script-loading"
404

[2019-02-26 03:53] html5cat opened #56 "watching-your-angularjs-watchers"
404

[2019-02-26 03:53] html5cat opened #57 "angularjs-one-time-bindings-and-recompiling-templates"
404

[2019-02-26 03:53] html5cat opened #58 "why-i-care-about-smart-watches"
404

[2019-02-26 03:53] html5cat opened #59 "angularjs-css-in-js"
404

[2019-02-26 03:53] html5cat opened #60 "this-is-so-awesome-great-work-on-this"
404

[2019-02-26 04:28] dance2die opened #62 "Issue: Missing CodeSandbox in "reacts-new-context-api" article"
# 🐛 What?

Following article is missing two CodeSandbox sandboxes.

You can see that the HTML is missing the Sandbox code.

![error](https://user-images.githubusercontent.com/8465237/53387360-9157d780-3954-11e9-8038-f1ae800b43cd.png)

# How to reproduce the error

Compare the `source` article with the `destination` articles.
The `destination` article is missing two Sandboxes present in the source

[2019-02-26 04:43] dance2die opened #65 "Issue: Figcaption not styled in "rendering-a-function-with-react" article"
# 🐛 What?

`<figcaption />` texts are not styled

![figcaption not styled](https://user-images.githubusercontent.com/8465237/53387852-ca914700-3956-11e9-8d1d-aba9f1d2bccb.png)

# ➕ Additional Context

I didn't create a PR for this as I did for the `PR` #64 because this would require code transformation change.

# 📖 Articles
- **Source**: https://medium.com/@kentcdodds/rendering-a-function-with-rea

[2019-02-26 04:54] ChrisWcs opened #66 "support-community-contributions"
404

[2019-02-26 04:56] ChrisWcs opened #67 "where-to-put-code-in-mocha-jasmine-tests"
404

[2019-02-26 04:58] ChrisWcs opened #68 "introducing-javascript-air"
404

[2019-02-26 05:10] ChrisWcs opened #69 "did-you-know"
404

This blog post is about mediums multiple claps feature.... As you are moving from Medium, not sure if you need this one, but totally your choice.

[2019-02-26 05:17] kentcdodds opened #70 "markdown: newlines should always render as a space"
Figure out how to make sure there are spaces for markdown formatted like this:

[code]

This will be rendered as:

[code]

The solution is to add a space to the end of the first line or place them on the same line with a space between them, but prettier formats it the way it is above.

So I _think_ this is an issue with how mdx converts those. I'm not sure how to solve this problem...

[2019-02-26 05:23] kentcdodds commented on #70
Opened an issue on mdx: https://github.com/mdx-js/mdx/issues/412

[2019-02-26 05:28] kentcdodds commented on #65
All the `<figcaption>` things should just be alt-text on the image `![this is alt text](./images/0.png)`. Would you be interested in helping move those over?

[2019-02-26 05:30] kentcdodds commented on #69
Thank a bunch! Most of these 404s are are actually articles that I intentionally didn't move over, but forgot to remove from the list. I will need to update those entries in here to point to the medium version of those posts though! https://github.com/kentcdodds/kcd-blog-redirector/blob/master/_redirects

[2019-02-26 13:42] danielart opened #76 "write-your-own-code-transform-for-fun-and-profit"
url not found

NOT FOUND
You just hit a route that doesn't exist... the sadness.

[2019-02-26 13:44] danielart opened #77 "free-frontend-masters-courses-for-a-week"
Url not found

[2019-02-26 14:54] dance2die commented on #65
Would proving an image description like this 👉 `![I see what you did there](./images/0.gif)` would suffice for all figcaptioned image?

![example code](https://user-images.githubusercontent.com/8465237/53421786-3f42a080-39ac-11e9-8c78-967c854b3cb5.png)

[2019-02-26 15:06] kentcdodds commented on #65
Yep. That was always my intention for the caption anyway. Medium didn't allow for alt-text so that's what I used instead.

[2019-02-26 15:09] dance2die commented on #65
Should I **remove** `<figcaption>` as I provide only the `alt-text`? Or should I **leave** the `<figcaption>` as they are?

[2019-02-26 15:13] dance2die commented on #65
Thanks 👍.
I will add missing `alt-text` for images

[2019-02-26 16:28] kentcdodds commented on #65
Yeah, I really want the figcaption removed in favor of the alt text. Thanks!

[2019-02-26 17:44] kentcdodds commented on #60
Deleted that medium post. Thanks!

[2019-02-26 17:44] #60 closed

[2019-02-26 17:49] #52 closed

[2019-02-26 17:49] #53 closed

[2019-02-26 17:49] #54 closed

[2019-02-26 17:49] #55 closed

[2019-02-26 17:49] #56 closed

[2019-02-26 17:49] #57 closed

[2019-02-26 17:49] #58 closed

[2019-02-26 17:49] #59 closed

[2019-02-26 17:49] #66 closed

[2019-02-26 17:49] #67 closed

[2019-02-26 17:49] #68 closed

[2019-02-26 17:49] #77 closed

[2019-02-26 17:49] #76 closed

[2019-02-26 20:15] #70 closed

[2019-02-26 20:49] #65 closed

[2019-02-26 20:50] kentcdodds commented on #69
This has been resolved and now https://blog.kentcdodds.com/3079d5aec43b redirects to the right place. Thanks!

[2019-02-26 20:50] #69 closed

[2019-02-27 08:52] thiagodebastos commented on #48
This led me down an amazing tangent, thank you!
I'm not sure if you ended up here, but this seems like a great idea!
https://tomcritchlow.com/2019/02/17/building-digital-garden/

[2019-03-07 16:11] alexilyaev opened #87 "Why not comments?"
Hey Kent,

I'm also starting a blog, and was wondering what's the pros/cons of adding comments?
Seeing you've decided not to add them (and  @gaearon as well on [overreacted.io](https://github.com/gaearon/overreacted.io)).
Is a Twitter thread really a better experience vs. in site comments or Disqus?

Asking here in case other people would be interested in this as well.
Thanks!

Related:
https://gi

[2019-03-07 18:31] kentcdodds commented on #87
I find that comments are often a huge time-sink and I don't have time to manage comments on my blog/reply to them/handle spam/etc. :)

[2019-03-07 18:31] #87 closed

[2019-03-11 18:53] tuhlmann opened #92 "Warning when compiling a page"
Hey Kent,

first of all a huge Thank You for opening up this blog and giving us opportunity to learn and reuse!

I see a warning in your code that I can't quite put my fingers on. When running `yarn dev` and edit a page so it gets updated in the browser, I see this error:

[code]

As far as I can tell the function is called in an async context, I'm not sure what's missing. The update works fine, i

[2019-03-11 20:22] kentcdodds commented on #92
Hey @tuhlmann!

That's actually a false warning. It's a bug in gatsby that will hopefully eventually be fixed. cc @DSchau

I'm also waiting to upgrade my version of gatsby until a more serious bug is fixed.

[2019-03-11 20:33] DSchau commented on #92
I think we actually fixed in gatsbyjs/gatsby#11929, available in gatsby@2.1.14.

Since we have it pinned here, unable to get the upstream fix. Let me check and see if I can reproduce the error re: hot reloaded content not appearing and if so, will add that to an existing issue.

Thanks for reporting this @tuhlmann and for the cc @kentcdodds! We'll take a look.

[2019-03-11 21:13] tuhlmann commented on #92
Awesome, thanks! One more little things that makes more sense now :)

[2019-03-12 06:34] tuhlmann opened #93 "List bullets render above the text"
There's a little oddity in your reset.js that renders list bullets in markdown documents above the list item if the text takes the full width:

![Snag_3d0c160](https://user-images.githubusercontent.com/407319/54179315-bbeb7980-4498-11e9-9559-69dd3c34b5e5.png)

Not sure if you want it that way, if not I solved it by changing the `list-style-position` in reset.js:

[code]

Which renders:

![Snag_3d2

[2019-03-12 15:38] jamesmosier opened #94 "Blog URL with trailing slash leads to error page"
When navigating to `https://kentcdodds.com/blog/` (note trailing slash) an error is thrown by the browser telling the user that `This site can’t be reached`. If you remove the trailing slash, you are directed to the blog as expected.

This was brought to my attention via Google by clicking on the link in the screenshot:

![Screen Shot 2019-03-12 at 11 35 08 AM](https://user-images.githubuserconten

[2019-03-12 21:23] kentcdodds commented on #94
Hi @jamesmosier!

Thanks for the report. I'm unable to reproduce this issue however. I'm not sure what to do about it 😬  So I'll go ahead and close this. If you can find someone else who can reproduce it as well then we'll know it's probably not just something wrong with your browser and we can look into it. Thanks!

[2019-03-12 21:23] #94 closed

[2019-03-12 21:28] kentcdodds commented on #93
Hi @tuhlmann,

Where are you seeing this? I don't think I have a blog post that says "In this data protection declaration"

[2019-03-13 19:23] tuhlmann commented on #93
@kentcdodds This is one of my own pages, I've based my Gatsby installation off of yours. That's basically an mdx page with a list item text that's longer than the line so that it has to break line.

[2019-03-13 19:42] tuhlmann commented on #93
Update: There might be something else intervening. I tried a long line on the links.mdx page of your blog and the list items show nicely. I guess I screwed something up.

Sorry for the confusion, I'll close the issue.

[2019-03-13 19:42] #93 closed

[2019-03-14 08:46] tuhlmann commented on #93
@kentcdodds Actually the problem does occur on your page, but only if a heading is involved:

On the `uses.mdx` page I change the text to:

[code]

And this renders as:
![Snag_572a6c3](https://user-images.githubusercontent.com/407319/54342825-bed39f00-463d-11e9-8bfa-78de37fea68b.png)

I keep the issue closed as this is a very special case and I'm not sure if it should behave that way or not. Just

[2019-03-14 19:11] kentcdodds commented on #93
Ah, yeah, that's a mistake in the markdown. I'll look into it. Thanks!

[2019-03-14 20:15] juancuiule commented on #50
Hi @kentcdodds do you know if someone is working on this? I think that I can try to implement this weekend.

[2019-03-14 21:38] kentcdodds commented on #50
Hi @juancuiule! That's super kind of you to offer. Thanks.

I'm actually considering doing something a little special with my blog and curation. I'll let you know if I want any help with it when I'm ready to make it happen. Thanks anyway!

[2019-03-16 19:36] #92 closed

[2019-03-16 20:12] #62 closed

[2019-03-16 20:34] juancuiule opened #95 "FutureTime component uses wrong date"
This component recieves `date` as `'yyyy-mm-dd'` and uses that `mm` in the Date constructor where it should be a `monthIndex` (from 0 to 11).

[code]

This results in having 1 month difference between the real talk/workshop date and the one that is used to compare if it is future or not.

[2019-03-16 21:32] #95 closed

[2019-03-20 06:47] ooade opened #101 "useEffect vs useLayout Effect article"
Nice one on the article. [Here](https://github.com/kentcdodds/kentcdodds.com/blob/master/content/blog/useeffect-vs-uselayouteffect/index.md), it did seem like there were 2 public effect hooks and 1 mystery hook.

References to that:
- `All three of these`
- `some are more optimal than others`
- `and use the other two hooks`
- `the difference between the other two`

I wanted to edit and send in a P

[2019-03-20 09:01] dimitrisnl opened #102 "Having trailing slash in the blog path, results in 404"
![Screen Shot 2019-03-20 at 10 57 32 AM](https://user-images.githubusercontent.com/4951004/54671812-56823300-4aff-11e9-8844-b00c798a8d21.png)

The other pages, like `talks`, have no issue with this

- https://kentcdodds.com/blog/
- https://kentcdodds.com/talks/

*Note that the first result in the google for your blog, uses trailing slash*

[2019-03-20 09:02] dimitrisnl commented on #102
Just noticed that there is another issue here https://github.com/kentcdodds/kentcdodds.com/issues/94

[2019-03-20 09:03] dimitrisnl commented on #102
![Mar-20-2019 11-03-05](https://user-images.githubusercontent.com/4951004/54672002-c8f31300-4aff-11e9-8bff-e2a6630bb940.gif)

[2019-03-20 09:15] dimitrisnl commented on #102
Wondering if adding a simple slash here will do the trick
https://github.com/kentcdodds/kentcdodds.com/blob/master/gatsby-node.js#L127

[2019-03-20 12:26] kentcdodds commented on #102
I cannot reproduce this. It's weird because there's literally an index.html file at that location on the server so it should just work. I have no idea what's going on here. If you can help figure that out I would be grateful...

[2019-03-20 14:03] dimitrisnl commented on #102
@kentc In safari & FF, it works as expected. Emptying cache and doing a hard reload in Chrome fixes it temporarily, but it still occurs on any subsequent visit.

Wondering if this is a caching issue since this URL was previously used in Medium.

[2019-03-20 16:59] kentcdodds commented on #101
Fixed! Thank you!

[2019-03-20 16:59] #101 closed

[2019-03-20 17:00] kentcdodds commented on #101
There used to be three hooks for effects, and they removed one. Looks like I did a bad job of updating my blog post 😬

[2019-03-20 18:06] z0al commented on #51
After many attempts, I've limited the number of feeds to 25 items only. I think is actually more [practical limit](https://github.com/z0al/kentcdodds.com/blob/495951a91a79b9ed9a2a8674039d855e393a00bf/gatsby-config.js#L145-L147) than 1000. The local build now works fine (will fail if you set the limit to +30).

But now I've other issues :disappointed:

1) First I can't get the site to work on Netli

[2019-03-20 18:12] z0al commented on #51
Ok. After more than 25 mins, the build failed with this:

[code]

[2019-03-20 18:13] kentcdodds commented on #51
Thanks for working on it @z0al!

I'm fine with a limit of the latest 25 posts. But I still think that I'd like to fix perf issues because I don't want my blog deploys to take even longer than they already do. I think the real solution is figuring out how to optimize gatsby-mdx and not spawning a webpack build for every blog post to generate the RSS feed.

[2019-03-20 18:18] z0al commented on #51
Agree. But I thought this would be a temporary fix since I really needed the RSS feeds.

Sorry, don't have the time to dig in this, gonna leave it for someone else.

[2019-03-20 18:19] kentcdodds commented on #51
Gotcha. Sorry, I'm not going to enable the RSS feed if it adds so much time to my build :-(

[2019-03-20 19:37] kentcdodds commented on #102
@DSchau, do you have any ideas?

[2019-03-20 19:45] DSchau commented on #102
@kentcdodds this isn't strictly speaking a Gatsby issue--you're using Netlify, right?

[They should redirect trailing slashes appropriately](https://www.netlify.com/docs/redirects/#trailing-slash), e.g. `/blog` and `/blog/` both map to `/blog/index.html` which is the structure that `gatsby build` creates.

@kentcdodds do you see a spike in 404s or anything in Google Analytics or the equivalent if

[2019-03-20 19:46] kentcdodds commented on #102
Unfortunately if the client-side JS doesn't run then I wont get analytics, so I have no way of knowing if a lot of people are experiencing this.

Maybe @swyx can help with this on the netlify side 🤔

[2019-03-20 19:46] kentcdodds commented on #102
@DSchau, I was mostly wondering whether the service worker is causing this issue.

[2019-03-20 19:54] davidbailey00 commented on #102
Hi @dimitrisnl, do you have multiple tabs open while clearing the site data? If so, Chrome can't fully clear the data since the other background tab(s) are still being controlled by the same SW, which can sometimes cause the error like the one you've screenshotted. For normal users browsing your site, this shouldn't be an issue.

[2019-03-20 19:56] DSchau commented on #102
@kentcdodds I think that's probably more likely than Netlify failing with CDN/redirecting trailing slashes--that seems like behavior that would be unlikely to break.

For some context, the awesome @davidbailey00 wrote most of the `gatsby-plugin-offline` code, so thanks for that David!

@dimitrisnl could you shed any light on reproduction steps to trigger this flow? Maybe David's comment above is h

[2019-03-20 20:38] dimitrisnl commented on #102
![Mar-20-2019 22-34-42](https://user-images.githubusercontent.com/4951004/54717290-8877b180-4b60-11e9-8fdd-f40c34348825.gif) (apologies for the low quality, the size was getting out of hand)

I followed David's comments but also tried doing it in incognito with a single tab.
Strangely the first time it worked, but on the second visit, it didn't.

I'm on a different network & laptop than when first

[2019-03-20 20:45] kentcdodds commented on #102
Yeah, it's super weird, but I can't reproduce that at all.

[2019-03-20 20:47] dimitrisnl commented on #102
Wondering if Google Search Console can report these broken links, and if the % of users experiencing it is super low, we can safely close it.

[2019-03-20 20:56] DSchau commented on #102
@dimitrisnl this doesn't really seem like a broken link, though. I'm not sure if anyone else has been able to reproduce, which is unfortunate.

Long shot - but maybe disable all your extensions (I saw some type of ad blocker at least)? It's possible something is conflicting and causing issues with the service worker. The Google Analytics script sometimes gets blocked--wondering if that has anythin

[2019-03-20 21:00] dimitrisnl commented on #102
Thanks @DSchau , will try your suggestions. Here's a GIF I captured earlier.

I'm using incognito, with the latest Chrome, in two different MacBook machines.

![Mar-20-2019 22-57-32](https://user-images.githubusercontent.com/4951004/54718666-b4486680-4b63-11e9-8bb3-1dc24a616be1.gif)

[2019-03-20 21:06] DSchau commented on #102
@dimitrisnl there are some errors in your console--those could be illustrative here?

[2019-03-20 21:10] dimitrisnl commented on #102
Well, with or without extensions, it came to the point where I can't properly reproduce it anymore. It might happen 2 times out of 10.

I believe it would be best to close it for now.

@DSchau 	The warning was the following

[code]

Something that I frequently encounter in my own website too.

[2019-03-20 21:13] ooade commented on #101
Hahaha. I literally didn't know about the mutationEffect hook. Glad it was removed :sweat_smile:

[2019-03-21 22:10] ta1188 opened #107 "Create Content Page"
* Page would pull in content from various platforms you have courses/material
* Content would be grouped/categorized
* Content could be searched/filtered/sorted

Ideally, the content pulled in would be able to have a preview/snippet to make a more visually appealing display

Possible Resources:

[2019-03-21 22:24] kentcdodds commented on #107
Awesome @ta1188! For those watching, Trevor offered to do this himself over lunch today :)

Here are a bunch of places where you can find my content:

- https://kentcdodds.com/blog (all the source for this is in https://github.com/kentcdodds/kentcdodds.com/blob/master/content/blog
- https://kentcdodds.com/talks (data source: https://github.com/kentcdodds/kentcdodds.com/blob/master/src/data/talks.j

[2019-03-22 19:43] DSchau commented on #102
@dimitrisnl I think this:

is maybe due to the Google Analytics script failing to fetch? I get that error too--but weirdly mine never fails to load/white screens 😩

In any case--if you can ever reliably reproduce this again, we'd love a bug report over at gatsbyjs/gatsby!

[2019-03-22 19:46] kentcdodds commented on #102
I think we can close this now. If I hear reports from others that they're having this issue I'll raise it again and we can dig deeper. Thanks everyone!

[2019-03-22 19:46] #102 closed

[2019-03-24 20:17] jediyozh opened #110 "Broken links"
I've noticed that you have some broken links that point to your post on Medium which doesn't exist anymore.
For example in [Application State Management post](https://kentcdodds.com/blog/application-state-management):
<img width="744" alt="Screenshot 2019-03-24 at 22 11 06" src="https://user-images.githubusercontent.com/31045769/54885151-dacb1200-4e81-11e9-99b5-39b365e42377.png">
that points to `h

[2019-03-24 20:46] kentcdodds commented on #110
Yes please!

[2019-03-24 21:04] jediyozh commented on #110
#111

[2019-03-24 21:23] kentcdodds commented on #110
Thanks!

[2019-03-24 21:23] #110 closed

[2019-03-26 12:44] dimitrisnl opened #115 "Highlighted lines in code snippets don't take full width"
The problem arises when there is a scrollbar present. More [here](https://www.gatsbyjs.org/packages/gatsby-remark-prismjs/#optional-add-line-highlighting-styles)

![Screen Shot 2019-03-26 at 2 38 39 PM](https://user-images.githubusercontent.com/4951004/54997791-30640380-4fd5-11e9-9425-4e2b2002cd7f.png)

_This website isn't using `gatsby-remark-prismjs` but the problem is similar_

[2019-03-26 13:20] kentcdodds commented on #115
Hey, thanks! Would you like to submit a fix? 😄 https://github.com/kentcdodds/kentcdodds.com/blob/86b153136d485c604913e45f93a8f119b40021fb/src/components/layout.js#L116-L121

[2019-03-26 15:27] dimitrisnl commented on #115
Sure, can try.

[2019-03-26 21:06] spences10 opened #117 "How is this implemented?"
It's not an issue, but I'd like to know how you use the fragment from [here]

To ue here:

https://github.com/kentcdodds/kentcdodds.com/blob/b5249808fca44281a3596310f2595a97cb0805d5/src/pages/index.js#L311-L317

[here]: https://github.com/kentcdodds/kentcdodds.com/blob/2e9fc256e3ce46b87c8d8424e73953cc4aba39b7/src/lib/fragments.js

It's puzzling me how you get the fragments to 'load' and then use t

[2019-03-27 12:58] kentcdodds commented on #117
It's because this: https://github.com/gatsbyjs/gatsby/issues/11638#issuecomment-461643378

And it's pretty confusing.

No, I don't think that I can 😞

[2019-03-27 12:58] #117 closed

[2019-03-29 15:12] #115 closed

[2019-03-30 18:27] trevoradams42 commented on #107
I’ve been able to test out the `Gatsby source YouTube` and it works great. Just need to add your `channelId` and `apiKey` to _Gatsby-config_. It allows you to use your own local (optimized) thumbnails or use the ones already available from YouTube.

For the GitHub based material, there is a `Gatsby Source Github` that seems promising.

For the resources that don’t provide an API, do you imagine th

[2019-04-01 17:05] kentcdodds commented on #107
That sounds great to me. I _think_ that regular JSON files should be fine. At least to start with 👍

I wonder if it would be best to make an entirely new project on GitHub using Netlify Functions that's basically just a graphql endpoint that combines all the data into the single endpoint. That would give you the flexibility to build and test it yourself and it would also expose all the data in a w

[2019-04-21 12:06] anirbandey303 commented on #107
yeah!

[2019-04-23 17:19] kentcdodds commented on #144
@all-contributors please add @markerikson for content

[2019-05-15 18:12] kentcdodds commented on #161
Hi @asharamseervi,

I'm afraid that I don't have time to do this. Keep working at it and remove the code you don't need and you'll get it eventually. Good luck!

[2019-05-17 18:59] trevoradams42 commented on #107
Finally have a working version: https://content-api.netlify.com/
I'm working on the schema still - I'll report back when the structure is more finalized

[2019-05-17 19:00] kentcdodds commented on #107
Very cool Trevor! Thanks for the update :)

[2019-05-21 14:12] imkrunal commented on #49
Hi @kentcdodds if you are not working on this I would like to do it.

[2019-05-21 16:06] kentcdodds commented on #49
I think I'm going to do manual curation actually. https://joelhooks.com/digital-garden

I'll reach out to you if I decide to go with automatic category pages.

[2019-05-27 19:46] kentcdodds commented on #172
I plan to eventually, but I haven't had the time recently.

[2019-05-27 21:13] MichaelDeBoey commented on #172
Would be awesome to see this happening 🙂

[2019-05-28 16:37] arihantverma opened #177 "Feature Request: Text Selection Popper Container Sharing Links"
Hey @kentcdodds!

I miss highlighting text in your detailed blogposts on medium. So I thought it'd be cool to be able to highlight text in the blogposts, and show a popper, containing, for example, twitter share icon, which will automatically pick selected text and open twitter box, pre filled with template text.

Using a `useTextSelection` hook, which would return text and position of the text, w

[2019-05-28 16:42] kentcdodds opened #178 "add aganglada for bug report"
@all-contributors, please add @aganglada for bugs

https://twitter.com/aganglada/status/1132303948608675840

[2019-05-28 16:44] kentcdodds commented on #178
@all-contributors, please add @aganglada for bug

[2019-05-28 18:47] kentcdodds commented on #177
I really love the idea! Maybe I'll add it eventually :) Thanks!

[2019-05-28 18:58] gdad-s-river commented on #177
Can I work on it? I'll raise a PR after I'm done.

[2019-05-28 18:59] kentcdodds commented on #177
Sure!

[2019-06-03 14:23] MichaelDeBoey commented on #172
@kentcdodds Is there something I can do to help  you out  with this one? 🤔

Kinda "need" this one for codesandbox/codesandbox-client#2011

[2019-06-03 17:17] kentcdodds commented on #172
If you'd like to open source it yourself that's welcome :) Please do credit me for the original idea. Also my hope is that there could be built-in embedders (like twitter/youtube/etc.) but users could also specify their own as well.

[2019-06-03 19:31] MichaelDeBoey commented on #172
Nah I can wait 🙂
The reason I said "needed" (in quotes) is because I just wanted a heads up and offer my help 😉

[2019-06-04 21:11] kentcdodds commented on #189
I was able to reproduce it but I have no idea what's going on. I did a hard refresh and now I cannot reproduce it so I think we'll just hope this isn't a long term problem 🤞

Thanks @jsjoeio!

[2019-06-04 21:12] kentcdodds commented on #189
I reproduced it again. My guess is that this is a gatsby issue, so if someone from the gatsby team wants to investigate that would be super, but I don't have the bandwidth to look into it and I'll just hope that it's fixed magically in the future.

cc @jlengstorf

[2019-06-05 11:44] MichaelDeBoey opened #191 "[remark-embedder] Twitter embed with double underscore doesn't work"
When converting all of @CompuIves' [Medium posts](https://medium.com/@CompuIves/latest) over to @codesandbox' blog, I copy-pasted the `remark-embedder`. (see codesandbox/codesandbox-client#2011)

When looking at all the pages I came across a bug with the Twitter embed when the username contains 2 underscores (`_`).

When I try to embed the following Tweet, I just see the link with an italic `d` in

[2019-06-05 15:52] kentcdodds opened #192 "add contributor"
@all-contributors please add @j-f1 for content

[2019-06-05 15:52] kentcdodds commented on #192
I think it doesn't work on initial comments which is weird.

[2019-06-05 15:53] kentcdodds commented on #192
@all-contributors please add @j-f1 for content

[2019-06-05 16:18] #192 closed

[2019-06-05 16:50] kentcdodds commented on #191
Dang. Sounds like a bug in MDX I think... Could you open a bug there?

[2019-06-05 16:51] kentcdodds commented on #191
Considering there's not much I can do here, I'll go ahead and close this one.

[2019-06-05 16:51] #191 closed

[2019-06-05 17:06] MichaelDeBoey commented on #191
@kentcdodds @codesandbox isn't using MDX for it's blog/documentation, it's using `gatsby-transformer-remark` instead

[2019-06-05 17:19] kentcdodds commented on #191
Could be a remark bug then because MDX is built on top of [remark](https://github.com/remarkjs/remark).

Actually, based on [this](https://astexplorer.net/#/gist/0a92bbf654aca4fdfb3f139254cf0bad/66eeb619b71beda9f2cbf6b15a2273d8e6496881) I'm pretty sure it's a plugin that's causing this issue because remark itself doesn't seem to have this problem.

Ok, I'll dig in really quick and see if it's my p

[2019-06-05 17:28] kentcdodds commented on #191
Ah, must be a problem in your setup because it works fine on my site:

![image](https://user-images.githubusercontent.com/1500684/58976572-01ac9b00-8785-11e9-81aa-06da2e90047c.png)

Sorry 😬

[2019-06-05 17:42] MichaelDeBoey commented on #191
Hmmm no prob, will take a closer look at it myself then 🙂

Much appreciate the help tho! 👊

[2019-06-05 18:13] MichaelDeBoey opened #194 "[remark-embedder] CodeSandbox embed with sandbox link as text doesn't work"
When converting all of @CompuIves' [Medium posts](https://medium.com/@CompuIves/latest) over to @codesandbox' blog, I copy-pasted the `remark-embedder`. (see codesandbox/codesandbox-client#2011)

When looking at all the pages I came across a bug with the CodeSandbox embed when using the sandbox link as the text of the link.

When I try to embed the following link, I see the embed instead of the te

[2019-06-05 18:31] kentcdodds commented on #194
That should be an easy fix. I'll get that done now.

[2019-06-05 18:43] #194 closed

[2019-06-05 21:13] MichaelDeBoey commented on #194
@kentcdodds Not sure if it's fixed like it's intended.
I think what we should see is the following:

✨ [**codesandbox.io/s/534rnk5yyx**](https://codesandbox.io/s/534rnk5yyx) ✨

But after this fix we're seeing the CodeSandbox embed between the stars:
<img width="741" alt="Schermafbeelding 2019-06-05 om 23 12 41" src="https://user-images.githubusercontent.com/6643991/58990961-744e6280-87e7-11e9-8e5d

[2019-06-05 21:23] kentcdodds commented on #194
Aaah, yes, that makes sense. Hmmm... I'll look into it.

[2019-06-05 21:57] kentcdodds commented on #194
Alright, I've really fixed it this time. I feel like this is a pretty good improvement, especially for the different URL `transformers` because we moved the validation of the URL to the main plugin so by the time it gets to the transformers we know it's a URL and don't have to validate that in each transformer which I think is great.

It also probably runs faster because rather than visiting every

[2019-06-05 22:06] MichaelDeBoey commented on #194
It's indeed a good improvement, but I'm still seeing the embedded CodeSandbox on the [`mixing-component-patterns`](https://kentcdodds.com/blog/mixing-component-patterns) blogpost, even in Incognito mode 😕

<img width="1209" alt="Schermafbeelding 2019-06-06 om 00 05 49" src="https://user-images.githubusercontent.com/6643991/58993827-f1310a80-87ee-11e9-9f2a-9714c22f34e4.png">

[2019-06-05 22:08] kentcdodds commented on #194
Deploying my site takes a long time thanks to gatsby-plugin-sharp (the image optimization plugin). It's still going: https://app.netlify.com/sites/kentcdodds/deploys

[2019-06-05 22:09] kentcdodds commented on #194
It's done now :)

[2019-06-05 22:15] MichaelDeBoey commented on #194
Oh I'm sorry didn't know that 😕
Will keep that in mind next time 😉

Seems to work now indeed! 🎉🤘

[2019-06-05 22:22] MichaelDeBoey commented on #194
The way it's implemented, there would still be no difference between these 2 I think? 🤔
[code]
and
[code]

Not sure if that's even possible tho...

[2019-06-05 22:22] kentcdodds commented on #194
@all-contributors please add @MichaelDeBoey for bugs

[2019-06-05 22:23] kentcdodds commented on #194
You're correct. If someone did that then it would be auto-embedded. But chances that someone's going to do that and _want_ it to not be embedded are very unlikely I think.

[2019-06-05 22:25] kentcdodds commented on #194
And if they did, they could do this:

[code]

And that'll work :)

Or they could do this:

[code]

And that would work too.

[2019-06-05 22:34] MichaelDeBoey commented on #194
At https://medium.com/@CompuIves/codesandbox-an-online-react-editor-b8945ce095d2 it's meant as a normal link, but when you look at https://pr2011.build.csb.dev/post/codesandbox-an-online-react-editor, you can see the embeds.
So that's why I was thinking about it

[2019-06-05 22:50] kentcdodds commented on #194
Wait, where's the source markdown for that?

[2019-06-05 22:50] kentcdodds commented on #194
This should _only_ apply if the link is appearing by itself on the line. If it's accompanied by any other text then it will not be an embed.

[2019-06-06 08:08] MichaelDeBoey commented on #194
My bad, I was looking at the wrong branch locally and didn't push it yet 😓

Seems te be OK now, thanks! 👊🤘

[2019-06-08 05:10] hoodwink73 opened #198 "Line numbers are getting copied along with the code"
Heyya Kent

You have killing it lately. I have read your latest five articles. They all have been very relevant to me.

I think you maybe already aware of this but I just wanted to file an issue if you would like to prioritise it.

Good day, friend. Enjoy your workshops and your time away from twitter.

[2019-06-14 13:53] jonmajorc opened #199 "`ow` not validating subject and body properly"
Hey Kent, I was playing around with `ow` and I found this implementation to not work, so I thought I would just inform you also!

![image](https://user-images.githubusercontent.com/7799266/59513980-97c97b00-8e81-11e9-92dd-775d31b14ec0.png)

[code]

This seems to work though... I can get this in a PR for you 😃
[code]

[2019-06-14 14:00] kentcdodds commented on #199
Ah, yes, thank you!

[2019-06-15 06:59] imkrunal commented on #198
it's working fine for me on chrome. which browser you are using?

[2019-06-15 16:50] hoodwink73 commented on #198
I am using Safari. But tested on Chrome too earlier.

Looks like CodeSandbox fixed it.
Thanks for the ping, Closing the issue.

[2019-06-15 16:50] #198 closed

[2019-07-02 17:54] SirbyAlive opened #216 "Wrong idea about useCallback and useMemo"
Hello,

I don't know your blog, just been shared this article [usememo-and-usecallback](https://kentcdodds.com/blog/usememo-and-usecallback) by one of my colleagues and I think you misinterpreted the real problem of mismatch renders and thus the benefit of useCallback and useMemo.

So with your example:
[code]
Yes, both A and B declare a new function in memory on every react render, plus B declare

[2019-07-02 18:21] kentcdodds commented on #216
Thanks for reaching out. I'm afraid I don't have a lot of time to explain this to you, but I think you're confusing renders with commits. Just because react calls your render method doesn't mean that it will update the DOM. And you can't get around necessary DOM updates. If the DOG needs to be updated, then it needs to be updated. Also, changing event handlers doesn't actually result in any DOM up

[2019-07-02 18:21] #216 closed

[2019-07-15 09:04] karlhorky opened #222 "Upgrade `gatsby-mdx` to `gatsby-plugin-mdx`?"
Hi Kent! Are you open to upgrading from `gatsby-mdx` to [the new `gatsby-plugin-mdx`](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-mdx), since it has been merged into the Gatsby repo?

More info: https://github.com/gatsbyjs/gatsby/pull/15559

[2019-07-15 13:38] kentcdodds commented on #222
Absolutely. Want to make a pull request?

[2019-07-19 22:13] MichaelDeBoey commented on #172
@kentcdodds Is this one on the roadmap yet? 🤔

[2019-07-19 22:36] kentcdodds commented on #172
Sorry, it's just not a priority for me right now.

[2019-07-20 08:03] MichaelDeBoey commented on #172
No problem.

Are there some resources I can read/watch and/or some boilerplate I can use to publish this one myself?

Would be happy to do that and make a PR here to use the new package. 🙂

[2019-07-20 08:11] kentcdodds commented on #172
https://kcd.im/write-oss 😄

[2019-07-21 03:29] tamouse commented on #226
p.s. -- I'm noticing these on the web site in general.

[2019-07-21 15:54] kentcdodds commented on #226
Thanks, I'll get this fixed.

[2019-07-22 13:29] MichaelDeBoey commented on #172
[`gatsby-remark-embedder`](https://github.com/MichaelDeBoey/gatsby-remark-embedder) is [released](https://github.com/MichaelDeBoey/gatsby-remark-embedder/releases/tag/v1.0.0) 🎉🎉🎉

PR is on it's way 😉

[2019-07-22 21:54] MichaelDeBoey commented on #222
This can be closed since 59e76d6 I think? 🤔

[2019-07-22 21:59] #222 closed

[2019-07-22 21:59] kentcdodds commented on #222
Thanks

[2019-07-25 01:32] karlhorky opened #230 "Lazy-load gatsby-remark-images?"
What do you think of lazy-loading the images from blog posts ([example](https://kentcdodds.com/blog/advanced-react-component-patterns)) loaded with `gatsby-remark-images`?

One option would be [gatsby-remark-lazy-load](https://www.npmjs.com/package/gatsby-remark-lazy-load) by @1kohei1 (until gatsbyjs/gatsby#15716)

Ref: https://github.com/gatsbyjs/gatsby/issues/2288#issuecomment-483070110
Ref: htt

[2019-07-29 17:05] #51 closed

[2019-07-29 17:06] #178 closed

[2019-07-29 17:08] #199 closed

[2019-08-27 13:04] LBWright opened #267 "/workshops page broken"
On Google Chrome and getting a blank page for workshops. It renders once and immediately goes white. This is the error I get in the console.

<img width="599" alt="Screen Shot 2019-08-27 at 8 04 21 AM" src="https://user-images.githubusercontent.com/36030324/63773684-4b4ae480-c8a1-11e9-8d61-76b538bd62a5.png">

[2019-08-27 16:06] #267 closed

[2019-09-03 22:50] theianjones opened #275 "Shawn Wangs podcast share card has the wrong text"
The title of Shawn Wang's podcast is "You Can Learn A Lot For The Low Price Of Your Ego - With Shawn Wang" but the share card looks like this:

![](https://raw.githubusercontent.com/kentcdodds/kentcdodds.com/master/content/podcast/01/12-shawn-wang/shawn-wang-card.png)

I don't think "Be intentional with your time" is the correct title here.

[2019-09-04 04:32] kentcdodds commented on #275
cc @vojtaholik :)

[2019-09-04 13:12] #275 closed

[2019-09-09 17:58] NicholasMurray opened #282 "Make Blog RSS feed more prominent"
Hi @kentcdodds,

You maybe wish to make the Blog RSS feed more prominent as it is a bit tricky to find the URL.

I've opened a PR #281 if you think this is suitable.

Regards,
Nicholas

[2019-09-09 18:10] kentcdodds commented on #282
Thanks!

[2019-09-09 18:10] #282 closed

[2019-09-21 13:58] flexdinesh opened #286 "Broken link in post — Write your own code transform"
Link to [existing macros](https://github.com/kentcdodds/babel-plugin-macros/blob/master/other/docs/macros.md) is broken in [Write your own code transform for fun and profit](https://kentcdodds.com/blog/write-your-own-code-transform) blog post.

I have learned so much about babel from the post. Thank you!

[2019-09-23 17:27] kentcdodds commented on #286
Thanks!

@all-contributors please add @flexdinesh for bug

[2019-09-23 17:27] #286 closed

[2019-10-03 09:06] MorganDbs opened #302 "How participate to translatation (FRENCH)"
Hi, I want to participate to French translation but I didn't find any docs to how to do it. Can someone explain it to me ?

[2019-10-03 13:17] kentcdodds commented on #302
Hi @MorganDbs! Thanks for the interest!

Right now I don't have a set way to do that and so far people have been translating and paying translations on their own blogs and making a pull request to link to those translations at the top of the article. Like this: https://kentcdodds.com/blog/javascript-to-know-for-react

[2019-10-03 13:28] MorganDbs commented on #302
Oh ok, I'll go for this solution if you are interested :)

[2019-10-03 13:34] kentcdodds commented on #302
I'd love it!

[2019-11-01 12:53] Crushford opened #318 "Broken link in blog post"
Hey!
In [this blog post](https://github.com/kentcdodds/kentcdodds.com/blob/master/content/blog/semicolons-in-javascript-a-preference/index.md#transpilation-andor-uglification) you link to [Klye's blog post](http://blog.getify.com/not-all-semicolons), it doesn't exist there anymore and I can't find a new link for you.

Thanks!

[2019-11-02 05:32] #318 closed

[2019-11-02 05:32] kentcdodds commented on #318
Thanks!

[2019-11-02 05:32] kentcdodds commented on #318
@all-contributors please add @Crushford for bugs

[2019-11-12 17:36] a-c-sreedhar-reddy opened #329 "Issue with understanding-reacts-key-prop"
But effects do not work that way. First the new Component is rendered. Then  cleanup on old effects is done. Then new effects are run.

[2019-11-12 19:28] kentcdodds commented on #329
Yeah, I'll clarify that wording a bit.

[2019-11-12 19:31] #329 closed

[2020-01-28 18:21] kentcdodds commented on #363
Hi @haleyrc,

As mentioned in #189, I think this is a gatsby issue and I don't have the bandwidth to figure it out. I just tried again and the links seem to be going to the right place, so I'm going to go ahead and close and pray there's no further issues.

[2020-02-07 21:56] ahmdtalat opened #378 "Dark mode"
Hello Kent, I think it would be nice to have a dark mode for the blog.

[2020-02-08 14:24] #378 closed

[2020-02-17 16:51] kentcdodds commented on #384
Ah, yeah, [I removed it](https://github.com/kentcdodds/kentcdodds.com/commit/f2f53488ade457881209a72b24f845745c75506c) but forgot to remove those references. Thanks!

[2020-02-17 17:05] rethab commented on #384
Okay, fair enough. Although I'd like to add that this is very unfortunate, because it means I can no longer follow your blog using my RSS reader :(

[2020-02-18 14:50] teaglebuilt opened #385 "Browser cache not clearing from kentcodds --- Question"
I cloned your repo and looked around on localhost. Ever since i have had issues with clearing the cache in my browser that wants to load your assets. I have deleted your repo on my host machine and cleared my cache. yet when i run localhost. I still will see your favicon or styles load in my browser by default on localhost if not over ruled by another project.  Is there a known reason or similar e

[2020-02-18 15:52] NicholasMurray commented on #384
Hi, Kent please reconsider, I don't know what hits you get on your rss feed but like @rethab rethab I find it hard to follow multiple blogs without a RSS reader feed.

[2020-02-18 20:35] kentcdodds commented on #384
Yeah, I know is inconvenient. If you'd really like to have it back then you could figure out why gatsby-plugin-feed is so slow and speed it up. Unfortunately I don't have the bandwidth to work on it and I can't include it when it's so slow. Sorry.

[2020-02-18 20:36] kentcdodds commented on #385
Hi @teaglebuilt,

Here's what you want to do:

![image](https://user-images.githubusercontent.com/1500684/74775796-aad3ec80-5253-11ea-8c00-da93474f239e.png)

Click that "Clear site data" button and that'll get it all out :)

Good luck!

[2020-02-18 20:36] #385 closed

[2020-02-19 13:05] NicholasMurray commented on #384
Fair enough. NP.

[2020-02-25 19:11] hudochenkov opened #393 "Update notification about some app"
Recently every time I visit your blog (every few days) I see this notification:

<img width="984" alt="Screen Shot 2020-02-25 at 20 00 08" src="https://user-images.githubusercontent.com/654597/75278437-27de0380-580a-11ea-9b39-54870362b333.png">

It confuses me, because I visit a static website and I didn't install any apps.

Could you consider hiding it, please?

P. S. Thank you for all the work y

[2020-02-25 19:16] kentcdodds commented on #393
Hi @hudochenkov,

Actually, https://kentcdodds.com is an app using a [ServiceWorker](https://developers.google.com/web/fundamentals/primers/service-workers) and it's automatically downloaded and installed when you visit it. This allows the app to subsequently load VERY quickly (and it even works offline!).

But if there's been an update to the site, then you could be looking at old info.

I'm goin

[2020-02-25 19:22] hudochenkov commented on #393
Thank you for the quick reply!

It make sense. What about changing the text to be less confusing for folks like me? E. g.

[2020-02-26 15:55] charliewilco commented on #393
maybe a different UI pattern could give us this update info a little better https://material.io/components/snackbars/#usage

[2020-03-04 17:33] josephrexme commented on #349
I think this will be really nice as well. I noticed there's currently a `Last Updated Date` but it might help to have a created date as well. It helps to put a context to the relevance and value of the articles.

[2020-03-04 20:51] kentcdodds commented on #349
If a post is no longer relevant, I'll make note of that. The last updated date is the best I'm going to do :) Thanks!

[2020-03-28 17:22] clemloridan opened #411 "Blog link not updated in writing page"
I just find a 404 page to try to go to blog from the writing page :

<img width="1406" alt="Capture d’écran 2020-03-28 à 20 12 51" src="https://user-images.githubusercontent.com/15263596/77829209-9ed02a00-7131-11ea-8357-0ddd46992932.png">

[2020-03-28 17:42] kentcdodds commented on #411
Ah! Thank you for that. I kinda forgot about that 😅

Just fixed: https://github.com/kentcdodds/kentcdodds.com/commit/ed4bce33d0a76c86eccae58fe0cf00021533637e

[2020-03-28 17:42] #411 closed

[2020-04-01 14:01] iamandrewluca opened #415 "Add linkable headings like in GitHub markdown flavour"
Would be nice to have links to every heading (or at least `h1` and `h2`) in a blog post page, so we can reference them easier.

Ex: https://github.com/kentcdodds/kentcdodds.com#contributors

Notes:
- https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-plugin-mdx#mdxprovider
- https://github.com/kentcdodds/kentcdodds.com/blob/master/src/components/mdx/index.js#L12
- https://github.com/ke

[2020-04-01 21:47] kentcdodds commented on #415
Agreed. I'm pretty sure all it'll take is a gatsby/remark plugin. Want to investigate that and [make a PR](http://makeapullrequest.com)?

[2020-04-01 22:03] iamandrewluca commented on #415
Don't have to much time right now, working on other OSS projects.
This is a esy one. I'll come back after some time and check this, if will not be done already.

[2020-04-02 00:26] iamandrewluca commented on #415
https://www.gatsbyjs.org/packages/gatsby-remark-autolink-headers/

[2020-04-09 10:28] shirejoni opened #421 "npm run setup error after clone kentcdodds.com"
Hi i clone the repository and after copy .env .development to .env and running on terminal

npm run setup

after npm install and pass some test
it shows this error i don't know why:
[code]

the complete terminal outPut:

[code]

[2020-04-10 12:41] #49 closed

[2020-04-10 12:41] #50 closed

[2020-04-10 13:03] techieeliot commented on #107
Hey @tetondev please invite me to collaborate! I volunteer to help.

[2020-04-11 13:46] shirejoni commented on #421
Nobody?

[2020-04-12 14:39] kentcdodds commented on #421
Sorry, there's no support offering in this project.

[2020-04-12 14:39] #421 closed

[2020-05-09 14:43] abhishekjakhar opened #453 "iPhone 5/SE layout issues"
**Workshop Page iPhone 5/SE**

The workshop box is having minimum width which is breaking out the workshop page layout.

<img width="1280" alt="kent-workshop-2" src="https://user-images.githubusercontent.com/19193724/81476749-2761e000-9231-11ea-94fd-b81bf98652c7.png">

<img width="1280" alt="kent-workshop-1" src="https://user-images.githubusercontent.com/19193724/81476733-1618d380-9231-11ea-9056-9

[2020-05-09 14:43] abhishekjakhar commented on #453
@kentcdodds It needs a little bit of tweaking on small screens, should I pick this up?

[2020-05-09 14:55] kentcdodds commented on #453
A pull request would be welcome 😁

[2020-05-09 15:01] abhishekjakhar commented on #453
Cool, I am picking this up and will raise the PR today

[2020-05-10 03:43] abhishekjakhar commented on #453
This has been fixed in https://github.com/kentcdodds/kentcdodds.com/pull/454, closing it.

[2020-05-10 03:43] #453 closed

[2020-06-05 18:55] iamandrewluca commented on #415
It seems this was implemented.

[2020-06-05 18:55] #415 closed

[2020-07-06 21:11] mwehnert opened #491 "Can't navigate to blog directly on chrome (android)"
Hey Kent,

when navigating directly to your blog (https://kentcdodds.com/blog/) the page does not load.

Experienced on chrome on Android.

Might test it tomorrow on my desktop and update this issue.

Cheers,
Matthias

[2020-07-07 21:04] mathengedennis opened #492 "Blog not loading in Firefox"
Only the front page and about page are loading in Firefox. All the other pages are displaying an error similar to the one below.

`Uncaught (in promise) Error: page resources for /blog/what-open-source-project-should-i-contribute-to not found. Not rendering React
    <anonymous> https://kentcdodds.com/app-86f4c733e321f3f1ba51.js:1`

[2020-07-08 08:15] drinchev commented on #492
I got the same on Safari.

<img width="2560" alt="image" src="https://user-images.githubusercontent.com/202919/86891534-47156780-c0ff-11ea-8b7e-78bf2e0e42c1.png">

[code]

I assume this has something to do with the Service worker. Using incognito mode did load the website.

<img width="1086" alt="image" src="https://user-images.githubusercontent.com/202919/86891648-7af08d00-c0ff-11ea-9573-7da5c026

[2020-08-10 17:20] kentcdodds commented on #492
I removed the service worker and now this shouldn't be a problem anymore.

[2020-08-10 17:20] #492 closed

[2020-09-17 21:47] kentcdodds commented on #393
This was removed because it was annoying. The whole service worker was removed because it was confusing.

[2020-09-17 21:47] #393 closed

[2020-09-17 22:06] kentcdodds opened #539 "Add vebradev for bugs"

[2020-09-17 22:06] kentcdodds commented on #539
@all-contributors please add @vebradev for bug

[2020-09-17 22:07] #539 closed

[2020-09-28 11:52] Aprillion opened #561 "2 blogs hiding in "Avoid Nesting when you're Testing""
I am trying to use `screen` in https://kentcdodds.com/blog/avoid-nesting-when-youre-testing

I think it is already long enough and it contains a tangential section introduced by a scary note:

While I agree that the concept applies to the topic of cleanup, I think that topic deserves a separate blog with a better example.

I don't think the topic is well served by hiding in this blog, so I would s

[2020-09-28 18:22] #561 closed

[2020-10-01 17:02] onemen opened #563 "Blog posts are in wrong order"
Hello Kent, congratulations on Epic React

After match-sorter pr [#101](https://github.com/kentcdodds/match-sorter/pull/101)
Blog posts sorted when the page loads and when there is no search term.
This altered the previous behavior that show the latest posts on top.

Also I have noticed that every time the search filed is emptied, The Search component (in components/search/index.js) is renders twi

[2020-10-01 20:04] kentcdodds commented on #563
Ah! I noticed that and was going to look into it later 🤭

Yeah, that makes sense. Would you be interested in making a pull request to fix that?

[2020-10-01 20:12] JacobMGEvans commented on #563
If they don't I will later, when adding to the Discord documentation.

[2020-10-02 13:03] #563 closed

[2020-10-27 04:05] JacobMGEvans commented on #491
Were you able to test on your desktop?

Do you use any adblockers or HTTPS Everywhere?

[2020-10-27 06:25] mwehnert commented on #491
At that time: yes. I cross checked on desktop and verified on another mobile device. But now, months later, it is magically fixed.

[2020-10-27 06:26] #491 closed

[2020-12-10 19:12] JacobMGEvans commented on #302
@MorganDbs Looking forward to the PR 😄

[2020-12-10 19:15] JacobMGEvans commented on #230
Is this similar to #581? If it is it would be a good enhancement 😄

[2020-12-10 19:19] kentcdodds commented on #230
Don't bother. I'm ditching Gatsby

[2020-12-10 19:23] JacobMGEvans commented on #177
@gdad-s-river  Greetings! Just wanted to follow up on the status of this work 😄

[2020-12-10 19:39] #230 closed

[2020-12-10 19:44] JacobMGEvans commented on #107
This could still be done in Remix, I assume in just a different way?

[2020-12-10 19:46] kentcdodds commented on #107
Yes, we could definitely do this with remix. The bulk of the work is the same regardless of the framework used.

[2020-12-18 12:57] arihantverma commented on #177
@JacobMGEvans I never properly worked in it and forgot about it 😅 . I plan on working on it in Feb and will update here

[2020-12-18 14:29] sitek94 opened #622 "White line on cards when hovering"
Hi Kent!

I was wondering whether this effect is intentional?

![Image from Gyazo](https://i.gyazo.com/f5d152eb001ed5fa2223be5a71c5d1ea.gif)

It doesn't happen in Firefox but it does in Chrome and Edge.

[2020-12-18 14:41] JacobMGEvans commented on #622
The site is currently in process of being migrated over to Remix from Gatsby. This could end up resolved in that process, thanks for the bug report! 😄

[2020-12-18 21:12] sitek94 commented on #622
Oh that's cool 😃

If the problem is still there I have actually found a way to fix it.

I added `backface-visibility: hidden;` to the `img` element and it's perfect 👌

[2021-01-15 09:55] AnnieTaylorCHEN commented on #48
Great to see your post on owning your own content. Agree 100%.

For search I used Algolia (it's awesome but kinda pricey if your readers search a lot), however they do have docsearch that is free I think perhaps your tech blog merit for that? The main reason I don't want to dig too much for search is I want to focus on design and content than spending time forever to perfect the infrastructure as

[2021-01-15 18:23] kentcdodds commented on #48
Thanks! I applied for a docsearch and I never heard back. I'm doing a big rewrite if my site soon though so I'll wait until after that.

[2021-01-22 23:12] oscard0m opened #630 "Is still an issue not using `twitter.com/search` instead of `mobile.twitter.com/search`"
https://github.com/kentcdodds/kentcdodds.com/blob/eade61eafdce6a13eff7540930b860a26d045853/src/templates/post.js#L124-L126

[2021-01-23 00:23] kentcdodds commented on #630
Ah, it may be ok to switch now 👍

[2021-01-23 18:20] #630 closed

[2021-02-19 07:22] kentcdodds opened #647 "add Chris"
@all-contributors please add @chrismilson for content

[2021-02-19 07:24] kentcdodds commented on #647
@all-contributors please add @chrismilson for content

[2021-02-19 07:24] #647 closed

[2021-03-17 09:14] fxOne opened #670 "Blog overview page crashes"
If I scroll to the bottom on https://kentcdodds.com/blog/ the whole page get white and I found this error in the console:

[code]

An reload of the page does not help as the page scrolls back down and the error occurs again

[2021-03-17 14:19] kentcdodds commented on #670
Thanks! Deploying a fix now.

[2021-04-02 23:58] hafdon opened #673 "article on closures"
@kentcdodds hey your explanation of closures is super confusing and you should actually explain the difference between passing by value and passing by reference (the sentence before the conclusion) because this is what's actually going on.

[2021-04-03 14:12] kentcdodds commented on #673
You're right, and [I know and I'm working on it](https://twitter.com/kentcdodds/status/1377650388866752515).

[2021-04-03 14:12] #673 closed

[2021-07-18 10:45] smeijer commented on #58
Few more ideas:

- thanked someone on discord (with levels)
- got thanked on discord (with levels)

The `got thanked` could even be related to channels, to earn some category "expert" badges. For example, after a number of `?thanks` in `typescript` one could get an `typescript expert badge`, after a few in `backend` one gets `backend expert`, etc.

Or maybe `support` instead of `expert`, as being

[2021-09-11 14:05] Exifers opened #709 "404 blog post link"
This link [https://kentcdodds.com/blog/how-to-use-react-context-effectively/](https://kentcdodds.com/blog/how-to-use-react-context-effectively/) returns a "Not found" page despite the content exists [here](https://github.com/kentcdodds/kentcdodds.com/blob/main/content/blog/how-to-use-react-context-effectively/index.mdx).

[2021-09-12 04:12] kentcdodds commented on #709
I've got some bad news and good news... :-/

[2021-09-12 04:12] #709 closed

[2021-09-12 09:18] Aprillion commented on #709
Good news is that it works on https://kent.dev/blog/how-to-use-react-context-effectively ?

[2021-09-12 13:22] kentcdodds commented on #709
Yep. Just don't tweet that yet 😁

[2021-10-04 12:40] kentcdodds opened #139 "Add "(un)read by me" checkbox to blog page"
Would be quite helpful I think. May even be nice to sort it by recently read or something

[2021-10-04 13:03] erikras opened #140 "Safari outline weirdness"
My guess is that the arrow icon's padding might be doing something weird. 🤷

https://user-images.githubusercontent.com/4396759/135856178-e4218921-6f40-4a00-8d64-2fc7604cd579.mov

[2021-10-04 19:28] sreetamdas opened #143 "Connect to Discord is broken"
Clicking on the "Connect to Discord" link on `/me` throws an error on the Discord page: `Invalid OAuth2 redirect_uri`.

Here's the link that was populated in the address bar: https://discord.com/oauth2/authorize?client_id=738096608440483870&redirect_uri=https%3A%2F%2Fkentcdodds.com%2Fdiscord%2Fcallback&response_type=code&scope=identify+guilds.join+email+guilds

<details>
<summary>Screenshot</summa

[2021-10-04 19:38] sreetamdas commented on #143
Update: refreshed and it seems to be fixed now, thanks!! Terrific job with the whole website 😄 👏

[2021-10-04 20:03] rdylanwalker opened #144 ""Edit on Github" and "Discuss on Twitter" hyperlinks point back to kentcdodds.com"
I think this issue is self-explanatory, but the `Link`s in the `blog.$slug.tsx` point to root (`/`) instead of the correct external URL.

Relevant Code: https://github.com/kentcdodds/kentcdodds.com/blob/eae64606ead78112c109ba7d7a1e0333bca4f602/app/routes/blog.%24slug.tsx#L236-L250

I'm wondering if also the "Tweet this article" link and the "Discuss on Twitter" are redundant?  I'm not familiar wit

[2021-10-04 20:20] rdylanwalker opened #146 "Blog Article Date Incorrect"
Looks like `article.date` was mistyped (or mis-calculated) into the database for https://kentcdodds.com/blog/introducing-the-new-kentcdodds.com.  I'd like to believe I could time-travel though :)

![image](https://user-images.githubusercontent.com/4922876/135918502-4e48ee4f-3023-4081-a7d1-1c0823764625.png)
![image](https://user-images.githubusercontent.com/4922876/135918847-a90579d0-7e1e-42e1-a020

[2021-10-04 20:26] MichaelDeBoey commented on #143
Tis is fixed now! 🥳🎉

[2021-10-04 22:06] kentcdodds commented on #146
Thanks! This was fixed 😅

[2021-10-04 22:06] #146 closed, assigned to nobody

[2021-10-04 22:07] #143 closed, assigned to nobody

[2021-10-05 12:34] twhitbeck opened #151 "Changing light/dark mode resets podcast player"
I was listening to one of the Chats with Kent episodes, and when I switched to dark mode the player reset to 0:00 and stopped.

[2021-10-05 20:29] kentcdodds commented on #144
This is fixed!

[2021-10-05 20:29] #144 closed, assigned to nobody

[2021-10-05 22:37] rdylanwalker opened #157 "Scoreboard Issues: reporting incorrectly; graphic artifacts in chart; "15" next to tootip"
Issue 1: Text says one thing... chart says another:

![image](https://user-images.githubusercontent.com/4922876/136111993-ab559656-671b-4929-9b29-010d7565d04d.png)

![image](https://user-images.githubusercontent.com/4922876/136112007-2b348a1f-26ff-40d1-84c0-fd071df8b5e8.png)

Issue 2: After hovering, the chart shows some sort of left-over artifact color.  You can see it as a small yellow dot in th

[2021-10-05 22:55] kentcdodds commented on #157
Hi @rdylanwalker,

Did you click the "what's this?" link? It'll explain how the ranking system works. It's not just by reads because that would favor larger teams unfairly.

I'm afraid this is a browser rendering bug and there's nothing we can really do about it :( Hopefully it'll get fixed eventually by Chrome.

Click the "what's this?" link and it'll explain what that is :)

Thanks!

[2021-10-05 23:03] rdylanwalker commented on #157
Hi @kentcdodds

I did not read the description :(  I guess the graph was just not intuitive to me... which is why you explain it. Maybe this issue can be re-tasked into something like "Design methods to make stats chart initially intuitive". For example, adding a "% Read By Team" to the tooltip? Or maybe adding a split-bar: bar 1 = total reads, bar 2 = total team members?

For Issue 2 above, while

[2021-10-05 23:41] kentcdodds commented on #151
Yeah, that's a bummer. Unfortunately I can't know whether you're playing an episode and I want to display the right-mode iframe, so if you switch it loads a completely different iframe. I think this is one we just can't do anything about without building our own player which may happen one day, but not any time soon :(

[2021-10-05 23:41] #151 closed, assigned to nobody

[2021-10-06 00:33] twhitbeck commented on #151
makes sense, thanks for taking the time to look into it and respond.

[2021-10-06 02:44] kentcdodds commented on #157
I could probably make the stats more clear 👍

[2021-10-07 14:38] kentcdodds commented on #157
Also, it looks like the number in there is incorrect as well 😅 Gotta look into this a bit 🙃

[2021-10-07 14:51] kentcdodds commented on #157
An idea occurred to me that it might be useful to show the actual values of active members and recent reads on the team page. I'll probably do that. Because it definitely is surprising that the yellow team is in the lead by so much with fewer reads, but they have fewer team members so it makes sense when factoring in the rules.

[2021-10-07 15:05] smeijer commented on #157
What if you wouldn't show the total read count, but just the relative percentage of all reads?

[code]

[2021-10-07 15:06] kentcdodds commented on #157
Yeah, I actually do show the percentage if you hit ALT while hovering. I think I should swap the default there.

[2021-10-07 15:22] rdylanwalker commented on #157
Yeah, without knowing the full data it's hard for me to know, but it does seem odd to report raw numbers when the score is weighted.  Perhaps you can report the "weighted score" on the chart so that it is immediately clear to readers _why_ [team] is in the lead.  Then, for transparency, the "What's this" could spell out the exact formula (without me having to check the source code) so the math can

[2021-10-07 18:23] kentcdodds opened #161 "discord: Bot announce when a new Call episode is available"
Would be cool if the bot announced when a new call has been published. Could @-mention the user who asked the question if their discord account is connected.

[2021-10-08 11:39] Aprillion opened #162 "kody-flying color variants"
I was studying differences between kody-flying color variants:

<img width="1231" alt="Screenshot 2021-10-08 at 13 30 35" src="https://user-images.githubusercontent.com/1087670/136549553-3c9e0ade-8dcd-4a9d-beb3-85f27c34f280.png">

Most differences are probably artistic choice (yellow kody has cold-gray fur, red one is warm-gray; the light on red kody's right leg is white and not red, ...), but I n

[2021-10-08 16:42] kentcdodds commented on #162
Unfortunately our illustrator ghosted us and getting other colors (other than blue) was manual work in photoshop 🤦‍♂️. Eventually we'll hopefully find someone who knows blender to give the Koala proper treatment...

[2021-10-09 00:03] rbusquet opened #164 "read stats positioning"
read stats grows over the "what's this" link, and sometimes the view count doesn't follow the theme

![Oct-08-2021 15-42-49](https://user-images.githubusercontent.com/7198302/136636345-3320be63-c1c5-4910-aece-874cdd8cd9ef.gif)

[2021-10-09 07:33] smeijer commented on #164
The counter (18408) is also dark on dark there.

[2021-10-09 14:19] kentcdodds commented on #164
Yeah, I'm not sure how that's possible...

[2021-10-09 17:36] #164 closed, assigned to nobody

[2021-10-09 17:36] kentcdodds commented on #164
I think I fixed it :)

[2021-10-09 17:37] kentcdodds commented on #157
Thanks for the feedback. I like the stats the way they are (this isn't a sunk cost thing, I just like them as they are). I'm changing to show the ranking itself rather than the total number of reads. I think that'll clear up some confusion and then I can improve the "what's this" explainer and maybe show the full actual data as well.

I tried it with a screen reader and there's some stuff I'll wor

[2021-10-09 21:41] danditomaso opened #167 "Unable to use submit function on Advanced React Patterns sign up form"
I was getting an error signing up for the Advanced React Patterns workshop. While I was on this page (https://kentcdodds.com/workshops/advanced-react-patterns#sign-up) I had entered my  email and first name in the appropriate fields. After clicking "Sign Me Up" nothing happens, I checked the my dev tools console and saw I kept getting this error output for each time I had clicked the button. Using

[2021-10-09 23:35] kentcdodds commented on #167
Thanks for the report! This broke due to an unexpected change in react-router beta. Pushing/deploying a fix now :)

[2021-10-10 00:33] #167 closed, assigned to nobody

[2021-10-10 19:56] vedran opened #171 "Chats page shows error on Safari (desktop & mobile)"
## Error

![image](https://user-images.githubusercontent.com/473826/136711193-46462c5b-a643-49f9-8909-b1ee4b3b69d3.png)

Context from twitter thread: https://twitter.com/vbudimcic/status/1447230664114270213

## Steps to reproduce:

1. Visit https://kentcdodds.com/chats/04 on Desktop Safari (Version 14.0.2 (16610.3.7.1.9)) or iOS Safari (iOS 14.4.2)

[2021-10-10 20:05] vedran opened #172 "Homepage image doesn't show on Safari when devtools open"
This one is strange. The big homepage image with the koala doesn't show up on Safari, but only when devtools are open.

![image](https://user-images.githubusercontent.com/473826/136711565-a8469b25-51df-4383-ab6c-95adb3823e71.png)

https://user-images.githubusercontent.com/473826/136711482-ca125444-98c9-496b-a394-7dcd2b806b56.mov

[2021-10-11 12:38] adrianzielonka commented on #172
@vedran Can't seem to reproduce this issue in either Safari 14.1.2 or 15.0 on macOS Big Sur 11.6

Which macOS and Safari version are you running?

[2021-10-11 17:32] kentcdodds commented on #171
When you open this does it have any code in it? https://polyfill.io/v3/polyfill.js?features=Intl%2CIntl.ListFormat%2CIntl.NumberFormat%2CIntl.RelativeTimeFormat

Could you tel me which features are in there?

[2021-10-13 16:38] kentcdodds commented on #178
Thanks! Fixed in https://github.com/kentcdodds/kentcdodds.com/commit/a0c213cc1e3023e01d13d2cda29fdbc338bd27ed

[2021-10-14 08:21] vedran commented on #171
There's a lot. I saved it in a gist:
https://gist.github.com/vedran/2e320a9a70e5521d537142369610d1e7

[2021-10-14 08:22] vedran commented on #172
I can't repro it anymore either. I'll close this.

[2021-10-14 08:22] #172 closed, assigned to nobody

[2021-10-14 14:20] kentcdodds commented on #171
Great! Thank you! I've added that polyfill so it should work for you now

[2021-10-14 14:20] #171 closed, assigned to nobody

[2021-10-18 02:11] alpacachen opened #189 "why my translation link dose not working?"
https://kentcdodds.com/blog/super-simple-start-to-es-modules-in-the-browser
the Chinese page, is something wrong about the site i write with or the mdx file i write error format

[2021-10-18 06:23] #189 closed, assigned to nobody

[2021-10-24 14:26] kentcdodds commented on #198
Nice catch! I'll get this fixed soon (if nobody beats me to it). Will probably just `/ 1000`

[2021-10-25 21:05] kentcdodds commented on #198
Pushing fix now. Thanks!

[2021-10-25 21:31] #139 closed, assigned to nobody

[2021-10-25 21:32] kentcdodds commented on #140
I was able to reproduce but I have no idea why it's happening and I don't care enough to fix this 😅

[2021-10-25 21:32] #140 closed, assigned to nobody

[2021-10-30 13:38] Aprillion opened #208 "Style of form elements in blogs"
Form inputs and buttons embedded in the blogs deserve a "nicer" style than the default tailwind CSS reset, e.g. in https://kentcdodds.com/blog/fix-the-not-wrapped-in-act-warning

Screenshots when using light/dark theme:
![screenshot from blog form](https://user-images.githubusercontent.com/1087670/139534943-67a02f2c-6581-4280-a6c5-643a9e7f9698.png)

[2021-10-30 13:47] Aprillion commented on #208
Another form in https://kentcdodds.com/blog/avoid-the-test-user has an explicit `background-color`, but no explicit `color`, so doesn't meet contrast accessibility criteria in dark mode:
![screenshot of a form with low contrast](https://user-images.githubusercontent.com/1087670/139535384-e9619c64-124a-4e92-98fb-9e81a58d37c3.png)

[2021-11-03 14:55] rdylanwalker commented on #157
@kentcdodds Closing this issue.  I think my concerns have been addressed.  If additional issues arise or other changes to the charts are desired then those can be more focused, new issues.

Thanks for the quick feedback and code!

[2021-11-03 14:55] #157 closed, assigned to nobody

[2021-11-06 09:00] zdhz opened #213 "Scroll position is not restored when navigating back to site"
Hello 👋

The vertical scroll position in the browser on both desktop and mobile is not restored when navigating back in the browser. Tested on the /blog and /uses page, this can be really time consuming having to re-scroll back to the previous place when clicking through the various links on your site.

Steps to reproduce:
- Navigate to https://kcd.im/uses
- Scroll down and click external link
- C

[2021-11-08 13:24] tpruisimao opened #217 "Website is down"
Website is down

[2021-11-08 13:24] #217 closed, assigned to nobody

[2021-11-08 13:25] danielsimao opened #218 "Website is down"
Website is down

[2021-11-08 14:52] kentcdodds commented on #218
Thanks. Should be up now. It's been a busy morning...

[2021-11-08 14:54] #218 closed, assigned to nobody

[2021-11-12 22:13] ljbc1994 commented on #213
Getting this as well, believe this is happening because when you click on "Load more articles" it doesn't update the url query with the number of articles shown (this could be used to render the list that the user has viewed).

So when you go back it only renders the initial list therefore the scroll position is lost and you end up at the bottom of the page.

[2021-11-13 05:37] kentcdodds commented on #213
Thanks! Scroll support will be built-into Remix soon so hopefully that will fix these issues.

For the blog post page, that's actually a great point. I should probably update the query string as you load more so when you go back it renders the same number of posts. I'll keep this issue open until I add that 👍

[2021-11-14 20:03] jnahumphreys opened #226 "Long strings of unbroken text cause page overflow"
**Expected behaviour:**
Long strings of unbroken text (e.g a url) should have necessary CSS rules to allow word breaking.

**Observed behaviour:**
A Twitter url within the blog article ["Write tests. Not too many. Mostly integration."](https://kentcdodds.com/blog/write-tests) is not able to wrap.On iPhone 13 portrait viewport, this is causing page overflow on the X axis.

![image](https://user-ima

[2021-11-16 13:36] kentcdodds commented on #226
Thanks! I'll look into this 👍

[2021-11-19 16:48] dexter-stpierre opened #233 "Poor text contrast in dark mode on How to add testing to an existing project"
The testing trophy image has very poor contrast on dark mode due to the dark background. Could maybe use an alternate image, or use a background on that image in dark mode to make it possible to read

[2021-11-19 17:00] kentcdodds commented on #233
Hi @dexter-stpierre,

Yeah, you're probably right. Which blog post do you see this on?

[2021-11-19 17:15] dexter-stpierre commented on #233
Thanks for getting back to me, and thank you for all the awesome content you produce! It's this post: https://kentcdodds.com/blog/how-to-add-testing-to-an-existing-project

[2021-11-19 18:18] #233 closed, assigned to nobody

[2021-11-19 18:18] kentcdodds commented on #233
Thanks! Fixed!

[2021-11-22 10:41] dpyzo0o opened #234 "Failed to run locally"
I followed the contribution guide to setup the project. Everything worked as expected as I ran `npm run setup`. However, when I run `npm run dev` and visit pages which have mdx content in it, the pages crashed. Here are the error messages:

<img width="874" alt="Screen Shot 2021-11-22 at 6 37 55 PM" src="https://user-images.githubusercontent.com/24768249/142846879-10763107-a201-4708-8fcd-1e6855e6e

[2021-11-24 00:28] kentcdodds commented on #234
Huh! That's a funny one. Pushing a fix now. Thanks for letting me know!

[2021-11-24 00:28] #234 closed, assigned to nobody

[2021-11-25 06:17] dpyzo0o commented on #234
@kentcdodds Unfortunately it does not fix the problem. I'm still facing the same error. There are also other parsing errors that I did not post before.

<img width="1234" alt="Screen Shot 2021-11-25 at 2 13 56 PM" src="https://user-images.githubusercontent.com/24768249/143389712-b23b1e05-0aa6-4753-ba56-db90de47fedf.png">
<img width="1224" alt="Screen Shot 2021-11-25 at 2 16 01 PM" src="https://use

[2021-11-28 03:00] kentcdodds commented on #213
This has been built-into Remix and should now be fixed :)

[2021-11-28 03:00] #213 closed, assigned to nobody

[2021-11-30 05:19] gabimor opened #241 "UX suggestion: list view for the blog posts"
I recently became a rather heavy user of your Kontent ;)
it's really great and I find my self taking "Kontent breaks", reading a blog post or listening to a call.
One thing thats bothering a bit is that while everything looks really nice, I do find it hard to actually choose and get to what's interesting to me. Especially in the mobile blog where everything is huge and requires lots of scrolling,

[2021-11-30 06:24] #241 closed, assigned to nobody

[2021-11-30 06:24] kentcdodds commented on #241
You got it :)

https://kentcdodds.com/blog/list (deploying now: https://github.com/kentcdodds/kentcdodds.com/actions/runs/1519514213)

[2021-11-30 11:12] nimrossum commented on #241
There seems to be an issue with this post that has a tweet: ![Screenshot_20211130-121228.jpg](https://user-images.githubusercontent.com/1959615/144037206-10c9100c-eb5e-42e1-b01e-3c5efef76a68.jpg)

[2021-11-30 21:22] kentcdodds commented on #241
Deploying a fix now :) Thanks!

[2021-12-11 19:54] Salarjasm50 opened #714 "Salar"
_SJR_
![image](https://user-images.githubusercontent.com/95982069/145689875-4e96fc36-5ca1-41a6-901e-8c069d3316e9.jpeg)

[2021-12-11 19:54] Salarjasm50 commented on #714
Wellcom

[2021-12-11 19:55] Salarjasm50 commented on #714
Hello

[2021-12-11 19:57] #714 closed

[2021-12-11 19:59] Salarjasm50 commented on #714
[hiror](🔥)

[2021-12-20 16:21] kentcdodds opened #252 "New thing"
I'm just testing stuff

[2021-12-20 16:21] kentcdodds commented on #252
Comment

[2021-12-20 16:21] #252 closed, assigned to nobody

[2022-01-02 10:13] raminrez opened #264 ""Load more articles" button on the blog wont load the posts"
Hi , i found this issue that prevent me to load more blog posts an in want to fix it
I'm going for that, but if you can give me any idea vere to find the problem is going to help me a lot

[2022-01-03 23:54] kentcdodds commented on #264
Hey @raminrez!

I'm not sure what changed, but it's working for me now. Thanks!

[2022-01-03 23:54] #264 closed, assigned to nobody

[2022-01-09 19:39] user9747 opened #269 "Navbar menu items stay selected when you go back to credits page"
![image](https://user-images.githubusercontent.com/23278959/148697859-81d92d28-a9ef-49f5-b4b1-c29892ce33cb.png)

## Steps to reproduce:-
1. Open `/credits`
2. Click on navbar item `Chats`
3. Click browser back button

The navbar now shows that we are still on Chat page, but we have moved to `/credits`

[2022-01-09 19:43] user9747 opened #270 "Nested route in Chats keep pushing same path to browser history stack"
## Steps to reproduce issue
1. Click `Chats` on navbar multiple times. (Each click pushes `/chats/04` to browser history stack (or whatever stack you have used internally))
2. Click browser back button (you will have to click the same number of times you clicked on `Chats` link)

[2022-01-10 12:30] joshfarrant opened #271 "Incorrect URL showing in twitter:image and og:image meta tags"
## Summary

When sharing a post, the generated image can sometimes include an incorrect url

![image](https://user-images.githubusercontent.com/6840861/148762745-d87a8db4-f4d2-4a37-bb9f-af7ac0409fa5.png)

## Repro Steps

1. Navigate to a post - Note the correct `twitter:image` and `og:image` meta tags.
2. Navigate back to /blog
3. Navigate to a different post - Note the `twitter:image` and `og:ima

[2022-01-10 16:44] #271 closed, assigned to nobody

[2022-01-10 16:46] kentcdodds commented on #271
Hi @joshfarrant,

Yeah, I know what's going on. Once you land on a page, I determine the request origin and path and pass that along to the root loader. That information remains the same until it's revalidated.

In practical scenarios it doesn't actually matter because these images are only ever requested on full-document requests. So the only people who will notice the image is wrong is people op

[2022-01-10 16:51] joshfarrant commented on #271
Hey @kentcdodds - Appreciate the breakdown, thank you!

Sounds like I've been rumbled! I was snooping your meta tags to see what some sensible defaults should be for my own site 😄

Amazing site, thank you for making it open source. It's been as useful a learning tool as the actual Remix docs 🙌

[2022-01-10 16:56] kentcdodds commented on #271
I'm glad to hear it :) Thanks!

[2022-01-10 17:53] kentcdodds commented on #269
Hi @user9747,

I think what you're seeing is the focus is still on the chats link so it's highlighted. If you move focus (click anywhere else) the focus will move and it's no longer highlighted :)

Thanks anyway :)

[2022-01-10 17:53] #269 closed, assigned to nobody

[2022-01-11 06:39] user9747 commented on #269
Makes sense. So that means there would be a scenario were two nav items are focused at a time, if i haven't clicked anywhere after navigating.

[2022-01-11 16:12] kentcdodds commented on #269
Right. Because we don't have a different style for the active page vs focus/hover states. That's by design. It probably could be better, but I don't think it's a significant issue.

[2022-03-12 15:50] mattchannn opened #304 "How to study this project properly"
Hi Kent,

I noticed a blog post talking about how this website is revamped, what technology it had been applied etc. I am just wondering

- how could I study this project well because there're several topic I would like to study, redis, fly.io, docker, postgres ...
- such design must involve many architectural decision, may I know how you come up with this idea and could you give me some suggestio

[2022-03-13 13:16] jaschaio opened #305 "Why do you need to refresh content?"
Might be a stupid question, but couldn't you just use a redis key that's based on the hash of the content you are getting? If the content changes, the hash changes, and the cache breaks. Of course that would mean that the very first page load for a changed content might be slow, just as it is with any traditional server side caching (e.G. fastcgi cache) but it would remove the complexity of a gith

[2022-03-15 20:59] kentcdodds commented on #305
Hi @jaschaio,

Thanks for the idea. How would you get the hash? Where would you store the hash? How do you validate the hash?

[2022-03-18 16:19] kentcdodds commented on #304
Answering this live on https://kcd.im/office-hours :)

https://kentcdodds.com/blog/how-i-learn-an-open-source-codebase
https://kentcdodds.com/blog/how-i-built-a-modern-website-in-2021

[2022-03-18 16:19] #304 closed, assigned to nobody

[2022-03-26 09:22] SomiDivian opened #314 "Polyfill.io net::ERR_CONNECTION_TIMED_OUT"
It took ~10s for the website to start,
~8s of that was trying to load polyfil.io and failed

console message
kentcdodds.com/:1          GET https://polyfill.io/v3/polyfill.min.js?features=Intl%2CIntl.ListFormat net::ERR_CONNECTION_TIMED_OUT

My connection speed 98 Mbps

[2022-03-28 17:45] #314 closed, assigned to nobody

[2022-03-28 17:45] kentcdodds commented on #314
Thanks! I don't think I need it anyway.

[2022-03-31 16:04] alecglen opened #317 "Ignore periods in gmail usernames"
Gmail ignores periods in usernames, so `alecglen@gmail.com` is equivalent to `alec.glen@gmail.com`.
https://support.google.com/mail/answer/7436150

It would be nice if the site's login flow was aware of this convention to avoid the scenario below:

1. I put the period in my email address when I created my account. Fast-forward X months, I'm signing in on a new machine.
2. I enter my email, but wit

[2022-03-31 20:51] kentcdodds commented on #317
Unfortunately this is tricky because I lookup emails in the database as they're entered and I've got a bunch of emails in the database already that have dots in it. So I'd have to do a migration to remove all the dots in the database so when you provide me one with dots I can remove it before doing the lookup.

I'm afraid I don't have the bandwidth for this.

What I recommend is putting the email

[2022-03-31 20:51] #317 closed, assigned to nobody

[2022-04-04 09:59] jaschaio commented on #305
Hey Kent,
sorry for the late reply, I thought I would eventually find time to build a prototype using github as a CRM and demonstrate what I mean, but from the looks of it I will have to use a headless CRM anyway so this won't apply to myself.

But to answer your questions:

Again, this might be naive but I think you have access to the file so you could just get the file contents and hash it, e.G.

[2022-04-04 17:30] kentcdodds commented on #305
I'm concerned that creating the hash for the blog post and all relevant files would take longer than just reading the compiled code from the redis cache. And I think it would end up being more complicated than what I have.

Thanks though!

[2022-04-04 17:30] #305 closed, assigned to nobody

[2022-05-08 16:24] cheshireoctopus opened #332 "Possibly incorrect depiction of strict mode"
👋 Hello!

Spotted a potential incorrect depiction of how strict mode works in [this post](https://kentcdodds.com/blog/react-strict-mode):

I have been operating with the understanding that `useEffect` is always called after the `render` method is invoked.

So, in the case of strict mode where `render` is called twice, wouldn't `useEffect` also be called twice (once for each render)?

Like with man

[2022-05-09 19:32] kentcdodds commented on #332
Effects should only be called once a render has been committed, so once is correct.

That is until React 18 showed up and started calling your effect twice on mount in strict mode. Really poor decision IMO :(

Hope that helps explain things. If not, feel free to come to https://kcd.im/office-hours.

[2022-05-09 19:32] #332 closed, assigned to nobody

[2022-05-18 19:02] jasikpark commented on #270
I'm having an issue w/ the chat section as well:

https://kentcdodds.com/calls/01/56/using-graph-ql-queries-in-remix-loader-functions and other similar URLs give me a 501

[2022-05-18 22:56] kentcdodds commented on #270
@jasikpark could you open a new issue? That's unrelated.

@user9747, that's happening because the `/chats` route is redirected to `/chats/{mostRecentSeason}`. It should probably just link straight to the most recent season. I need to fix that eventually.

[2022-05-18 23:05] #270 closed, assigned to nobody

[2022-05-18 23:17] kentcdodds commented on #270
Nevermind @jasikpark, I fixed that too :)

Thanks for letting me know it was broken!

[2022-05-18 23:42] jasikpark commented on #270
cool, nice!

[2022-05-22 00:47] johtso opened #338 "When clicking "call kent" link in footer, scroll position stays at bottom of page"

[2022-06-10 12:19] DhrumanGupta opened #342 "Twitter Embeds Image Broken"
The profile picture part of the custom Twitter embeds doesn't seem to be working, I've put an image of how they look to me (I tried both, on my PC and my phone). The image gives me a 404 when I try to open it (pbs.twimg)

![Screenshot_20220610_174534](https://user-images.githubusercontent.com/31363068/173062506-5c5ed432-924e-4d89-b35a-42777e7a6802.png)

[2022-06-10 20:45] kentcdodds commented on #342
Thanks! Fixed.

[2022-06-10 20:45] #342 closed, assigned to nobody

[2022-07-07 09:11] Xiphe opened #346 "move cachified to npm"
Hey there 👋

I really like the [`cachified`](https://github.com/kentcdodds/kentcdodds.com/blob/main/app/utils/cache.server.ts) implementation and was wondering if anyone knows of an npm package with a similar api?

If not would it be ok if I took the code, made the remix implications optional and publish it to npm?

[2022-07-07 14:16] kentcdodds commented on #346
The latest version of lru-cache seems to be able to support all the use cases. Care to try and see?

[2022-07-07 21:11] Xiphe commented on #346
Which use cases do you mean? Would you rather remove the cachified abstraction and use lru-cache directly? Or do some parts of the implementation cater for cases that were not supported in previous lru-cache versions?

To be more precise I'd like to have a npm package with an API like this:
https://github.com/kentcdodds/kentcdodds.com/blob/24ac1861bc28b8e9fe14483768a6e0603bd2cf6c/app/utils/blog.se

[2022-07-07 23:27] kentcdodds commented on #346
You're right. For some reason I thought it had a way to do that.

Would probably be cool to open source cachified. I've always wanted to. I just don't have the time to maintain another project. Anyone's welcome to take it and do that themselves. Hopefully they give credit where it's due :)

[2022-07-08 10:36] Xiphe commented on #346
Cool! I'll give it a shot then! And rest assured I'll credit the work of you and your team.

[2022-07-08 10:36] #346 closed, assigned to nobody

[2022-07-11 00:09] Xiphe commented on #346
First version is available as beta via `npm install cachified@0.0.1-beta.1` :octocat:  [Xiphe/cachified](https://github.com/Xiphe/cachified).
Ended up doing a buch of refinements. Will test it in rl add a few finishing touches + docs in the next days and then will try to integrate it back here.

@kentcdodds are you fine with me releasing this under MIT even though your source is GPL version 3?

[2022-07-11 13:19] kentcdodds commented on #346
Yes, that's fine 👍 thanks!

[2022-07-20 18:17] jmherzo opened #348 "Explain simply the difference between a testing framework, test runner and a testing library"
So we always hear about Jest or RTL but I think there is always a confusion between what is a test runner, test library and a testing framework. It would be great to add it in this blog post just as a simple difference with examples.

[2022-07-20 21:16] kentcdodds commented on #348
Hi @jmherzo! This is a great question. Have you read https://kentcdodds.com/blog/but-really-what-is-a-javascript-test yet? Give that a read and if you still have questions, feel free to ask me here: https://kcd.im/calls :)

[2022-07-20 21:16] #348 closed, assigned to nobody

[2022-07-20 23:00] jmherzo commented on #348
I created this question from that blog actually 😂, as a way to improve one little sentence where you talk about it.

[2022-07-20 23:08] kentcdodds commented on #348
Gotcha. I'd happily answer you on the Call Kent Podcast if you'd like to ask sometime :)

[2022-07-21 14:29] clicktodev opened #349 "Scrollbar color doesn't switch according to theme"
Scrollbar should become dark when theme is set to dark.

[2022-07-21 16:34] #349 closed, assigned to nobody

[2022-07-21 19:35] clicktodev opened #352 "Error: Hydration failed because the initial UI does not match what was rendered on the server."
I noticed this error in the console log of the hosted build.
https://reactjs.org/docs/error-decoder.html/?invariant=418

[2022-07-21 22:06] kentcdodds commented on #352
Ah, yeah, this probably has something to do with the fact that I started streaming and I do some funny things prior to hydration which may cause these issues. Would need more detailed digging... https://github.com/kentcdodds/kentcdodds.com/blob/5fc80afdadd686480714478eea36cde131166e0e/app/entry.client.tsx#L10

[2022-07-22 22:20] clicktodev commented on #352
I look forward to the fix and I'm gonna use this chance to thank you for your hard work on all these technologies. Truly an inspiration 🚀

[2022-07-27 11:10] amir-ziaei opened #354 "A link broken when opened in a new tab"
I was reading [this article ](https://kentcdodds.com/blog/aha-testing) and I found a link that behaves strangely.

Under the **Nesting** section, there is a link to [Avoid Nesting in Tests](https://kentcdodds.com/blog/avoid-nesting-in-tests):
![image](https://user-images.githubusercontent.com/26747997/181222095-7d515739-2cc2-490d-9e01-945ba440b19e.png)

Left-clicking on this link works as any othe

[2022-07-28 15:42] #354 closed, assigned to nobody

[2022-07-28 15:43] kentcdodds commented on #354
Thanks for finding this and letting me know!

[2022-08-05 14:25] tywayne opened #356 "Duplicate declaration of configOverrides in Cypress config"
Caught this error after a fresh clone and running `npm run setup` to get things running locally.

[code]

Went and looked, and sure enough, seems to have duplicated declarations of `configOverrides`:
[code]

Maybe just an oversight during the upgrade commits a couple of weeks ago? Not sure which of those you need, but likely only one of them!

[2022-08-05 15:57] tywayne opened #357 "Firefox - blurred image preview not swapping to full image"
When loading a page that has a blurred image preview, the image occasionally loads, replaces to the full image as expected, but then swaps back to the blurred image.

Noticed on the blog index and detail screens, but may be happening elsewhere.
Seeing this only on FF from what I can tell. Works fine in Chrome/Safari.

## Steps to reproduce:
1. Load [this URL](https://kentcdodds.com/blog/get-a-catc

[2022-08-05 23:53] #356 closed, assigned to nobody

[2022-08-06 00:16] kentcdodds commented on #357
I was able to reproduce this. Here's the code for that: https://github.com/kentcdodds/kentcdodds.com/blob/main/app/components/blurrable-image.tsx I'm guessing that somehow this variable somehow gets set to `false` again: https://github.com/kentcdodds/kentcdodds.com/blob/904683a165853ce3e5b87d95990f305e58f62a9d/app/components/blurrable-image.tsx#L14

I'm not sure...

[2022-08-11 22:20] jdnichollsc opened #363 "Add Service Worker with Workbox for UX"
Hello mate, hope you're doing well

Is there any example using Service Workers for RemixJS? It would be great if we can provide the option to install the webapp as PWA for our customers.

Please let me know! <3

[2022-08-12 14:55] kentcdodds commented on #363
Hi @jdnichollsc, I don't do Remix support in my website's issues. If you need support, please see https://remix.run/docs/en/v1/pages/community

[2022-08-12 14:55] #363 closed, assigned to nobody

[2022-08-23 14:25] schiaro98 commented on #338
Something tell me that is this piece of code on
[ https://github.com/kentcdodds/kentcdodds.com/blob/main/app/routes/calls.tsx](url)
that gives this behaviour. Can't setup the project locally for trying, can someone provide?

`export const handle: KCDHandle & {id: string} = {
  id: 'calls',
  restoreScroll: false,
}`

Trying with `restoreScroll: true` can be the fastest solution.

[2022-08-23 18:29] kentcdodds commented on #338
I need to spend some time working on the scroll. That `restoreScroll` config is custom (I added it on purpose). The problem is if you choose between different episodes on that page it is a route change and normally with route changes you want to scroll up to the top. I need to figure out a good way to have the link decide whether the scroll should happen instead.

[2022-08-26 15:10] tylermercer commented on #338
Just ran into this on the blog page as well, I believe. Two thoughts just off the top of my head:

* You could use a URL hash for different podcast episodes instead of a route. This seems like a nice a web-idiomatic approach to me, seeing as they're different sections on the same page rather than being separate pages.
* You could modify your restoreScroll config to take a function that accepts the

[2022-08-26 15:17] kentcdodds commented on #338
The next version of React Router will solve this problem for me. I'm just going to wait for that to be released. It shouldn't be too much longer :) Thanks!

[2022-09-09 19:23] nick-ollier opened #370 "Typo: Kody snowboarding alt text"
The 4 instances of the Kody Snowboarding image all have the same alt text typo.

**Illistration** => **Illustration**

[images.tsx / L: 171](https://github.com/kentcdodds/kentcdodds.com/blob/6ff855ccae3276e3acfed2b3a32975c011457419/app/images.tsx#L171)
[images.tsx / L: 175](https://github.com/kentcdodds/kentcdodds.com/blob/6ff855ccae3276e3acfed2b3a32975c011457419/app/images.tsx#L175)
[images.tsx /

[2022-09-12 11:10] kimile opened #371 "Login in mobile failing in iOS"
I'm getting a _Sign in link invalid. Please request a new one._ when clicking the link directly. I'm able to log in if I copy/paste the URL directly into Safari (the browser I requested to log in), but the default behavior is to open it on the in-app browser.

Steps to replicate:
1. Request a login link
2. Open the link in Gmail mobile app
3. Verify that it opened on the in-app browser (didn't jum

[2022-09-13 19:46] kentcdodds commented on #371
Hi @kimile!

Thanks for walking me through this.

The way it is currently is required for security reasons. There are workarounds I could implement (like sending a temporary code and having them enter the code rather than clicking the link). But this isn't high priority for me so I'm not going to do that.

Thanks!

[2022-09-13 20:01] #370 closed, assigned to nobody

[2022-09-14 12:26] Xiphe commented on #346
Small update from my end, I consider the package stable now: https://github.com/Xiphe/cachified

I ended up finding and fixing a bunch of edge-cases and added some additional features. (most notably explicit stale-while-revalidate, supporting batch operations, and migrating values).

@kentcdodds would you still be interested in a PR switching from your implementation to the one I maintain?

[2022-09-14 18:41] kentcdodds commented on #346
I welcome a PR, though I can't promise I'll accept it. For my own site there's a lot to be said for keeping code in-house. But I'd love to look at how using your package would change/improve things for me. Thanks!

[2022-10-02 19:17] amir-ziaei commented on #226
Face this on mobile today as well:

SS:
![image](https://user-images.githubusercontent.com/26747997/193472065-7f36a0b0-419e-4988-b255-00af8ca55935.png)

It causes a horizontal scroll which makes the UX unpleasant.

[2022-10-10 15:35] JLarky opened #377 "bug: podcast player does't handle media playing/pausing"
If I open https://kentcdodds.com/calls/01/104/how-to-do-feature-flags-with-remix and I'm listening to an episode it only synchronizes state from play/pause button to audio tag, but doesn't do that the other way around. So if I play or pause by pressing F8 on mac or with a button on headphones, etc. it will cause media to play/pause but the state is not going to be reflected in the UI.

reproductio

[2022-10-10 18:54] kentcdodds commented on #377
Unfortunately that's an embedded player so we'll need to open a support ticket in transistor for this.

[2022-10-11 23:35] kentcdodds commented on #226
Just pushed a fix to this 👍 Thanks!

[2022-10-11 23:35] #226 closed, assigned to nobody

[2022-10-13 16:33] kentcdodds commented on #377
Hopefully fixed https://twitter.com/TransistorFM/status/1580578060335599617?t=lnOBjg7qRSnl6eI1eTblAw&s=19

[2022-10-13 16:33] #377 closed, assigned to nobody

[2022-10-19 18:18] amir-ziaei opened #379 "Consider `cspell`"
So I just came across [cspell](https://www.npmjs.com/package/cspell) and I found it pretty useful. It's a highly configurable spell checker and it does work very fast. I tested it against your codebase.

I thought it might be useful for you since you write a lot. I created a POC in case you're interested: https://github.com/kentcdodds/kentcdodds.com/compare/main...amir-ziaei:kentcdodds.com:cspell-

[2022-10-19 18:28] amir-ziaei commented on #379
Apparently, in the `introducing-glamorous` article, you misspelled `kentcdodds` as `kentcdods` (with one d):

![image](https://user-images.githubusercontent.com/26747997/196773970-b057d8d0-11cf-405d-8ecf-c21085499967.png)

[2022-10-20 02:17] kentcdodds commented on #379
Interesting! I think I'd be annoyed by having to teach the tool all the things that aren't misspelled (as several things in that screenshot show), so I don't think I'll do this. But I'll fix the misspelling you mentioned 😅

[2022-10-20 02:17] #379 closed, assigned to nobody

[2022-10-27 21:37] ledenis commented on #338
There is the same issue for the "Chats Podcast" link in the footer.

[2022-10-28 10:24] KainosShamusHarkin opened #384 "Blog on your Website is down"
I searched on google for an article I knew you wrote and it came up as first result.  I clicked on it and it directed me to your blog but I got 500 - Oh no, something did not go well.
"/blog/testing-implementation-details" is currently not working. So sorry.

You may know about it and It may be down for maintenance or whatever, im just letting you know incase it isn't.
Kind Regards

[2022-10-28 22:44] kentcdodds commented on #384
My host had issues. It's working now.

[2022-10-28 22:44] #384 closed, assigned to nobody

[2022-11-15 21:14] MichaelLiss opened #387 "separating out states"
Hi,

You wrote a great ([article](https://kentcdodds.com/blog/implementing-a-simple-state-machine-library-in-javascript)) on creating a state machine.

I would like to know if you have given any thought to making the individual states more atomic during the creation process

this is what you start off with :

[code]

I was wondering if something like this could be done:

[code]

[2022-11-17 22:23] kentcdodds commented on #387
I suppose you could do that if you wanted to :)

[2022-11-17 22:23] #387 closed, assigned to nobody